@font-face {
    font-family: 'gotham_bookregular';
    src: url('gotham_book_regular.woff2') format('woff2'),
        url('gotham_book_regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body {
    overflow-x: hidden;
    font-family: 'gotham_bookregular';
    font-size: 16px;
}

p {
    line-height: 1.75; }

a {
    color: #fed136; }
a.active, a:active, a:focus, a:hover {
    color: #fec503; }

.text-primary {
    color: #fed136 !important; }
a
{
    text-decoration: none !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    font-family: 'gotham_bookregular'; 
}

section {
    padding: 6% 0; }
section h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px; }
section h3.section-subheading {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 75px;
    text-transform: none;
    font-family: 'gotham_bookregular';}

@media (min-width: 768px) {
    section {
        /*padding: 150px 0;*/ } 
}

.btn {
    font-family: 'gotham_bookregular';
    font-weight: normal; }

.btn-primary {
    color: white;
    border-color: #000;
    background-color: #000; 
    box-shadow: 0 18px 16px -14px rgba(0, 0, 0, 0.37);
}
.btn-primary.focus, .btn-primary:focus {
    color: white;
    border-color: #b48b01;
    background-color: #fec503; }
.btn-primary:hover {
    color: white;
    border-color: #000;
    background-color: #000; }
.btn_know_more {
    border: none;
    font-weight: 600;
    background: #00aeff;
    color: #fff !important;
    padding: 15px 20px;
    border-radius: 0px;
    float: right;
    box-shadow: 0 18px 16px -14px rgba(0, 0, 0, 0.37);
}
a.btn_know_more_ag {
    border: none;
    font-weight: 600;
    background: #00aeff;
    color: #fff !important;
    padding: 10px 20px;
    border-radius: 0px;
    text-transform: uppercase;
    float: left;
    font-size: 17px;
    box-shadow: 0 18px 16px -14px rgba(0, 0, 0, 0.37);
}
.btn_know_more:hover, .btn_know_more:active, .btn_know_more:visited {
    color: #fff;
    border: none !important;
    outline: none !important;

}
.btn-primary.active, .btn-primary:active,
.open > .btn-primary.dropdown-toggle {
    color: white;
    border-color: #f6bf01;
    background-color: #fec503; }
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover,
.open > .btn-primary.dropdown-toggle.focus,
.open > .btn-primary.dropdown-toggle:focus,
.open > .btn-primary.dropdown-toggle:hover {
    color: white;
    border-color: #b48b01;
    background-color: #dcab01; }
.btn-primary.active, .btn-primary:active,
.open > .btn-primary.dropdown-toggle {
    background-image: none; }
.btn-primary.disabled.focus, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled].focus, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary.focus,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:hover {
    border-color: #fed136;
    background-color: #fed136; }
.btn-primary .badge {
    color: #fed136;
    background-color: white; }

.btn-xl {
    font-size: 18px;
    padding: 10px 20px; }

::-moz-selection {
    background: #fed136;
    text-shadow: none; }

::selection {
    background: #fed136;
    text-shadow: none; }

img::selection {
    background: transparent; }

img::-moz-selection {
    background: transparent; }

body {
    -webkit-tap-highlight-color: #fed136; }

#mainNav {
    background-color: #212529; }
#mainNav .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: white;
    border: 0;
    background-color: #fed136;
    font-family: 'gotham_bookregular';}
#mainNav .navbar-brand {
    font-family: times new roman !important;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;

}
#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #fff; }
#mainNav .navbar-nav .nav-item .nav-link {
    font-size: 90%;
    font-weight: 400;
    padding: 0.75em 0;
    letter-spacing: 1px;
    color: white;
    font-family: 'gotham_bookregular'; }
#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #f2f2f2;
    font-weight: 600;
}

@media (min-width: 992px)
{
    #mainNav {
        padding-top: 25px;
        padding-bottom: 25px;
        -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
        -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
        transition: padding-top 0.3s, padding-bottom 0.3s;
        border: none;
        background-color: transparent; }
    #mainNav .navbar-brand {
        font-size: 1.75em;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s; }
    #mainNav .navbar-nav .nav-item .nav-link {
        padding: 1.1em 1em !important; }
    #mainNav.navbar-shrink {
        padding-top: 0;
        padding-bottom: 0;
        background-color: #212529; }
    #mainNav.navbar-shrink .navbar-brand {
        font-size: 1.25em;
        padding: 12px 0; } 
}
h1.h1_title {
    text-align: left;
    font-size: 49px;
    width: 60%;
    line-height: 60px;
}
p.intro-para {
    margin: 0;
    text-align: justify;
    color: #000;
    font-weight: 400;
    font-size: 18px;
    /* line-height: 30px; */
}
section.intro_section {
    padding: 5% 0;
}
.subheading_sg {
    font-size: 60px;
    text-align: left;
    width: 60%;
    padding-top: 15px;
}

header.masthead {
    text-align: center;
    color: white;
    background: #212529;
    /*background-image: url("../img/header-bg.jpg");*/
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
header.masthead .intro-text {
    padding-top: 215px;
    padding-bottom: 103px;
}
h1.main_title {
    margin: 0;
    font-weight: normal;
    font-size: 60px;
}
header.masthead .intro-text .intro-lead-in {
    font-size: 21px;
    font-style: italic;
    line-height: 22px;
    margin-bottom: 25px;
    font-family: 'gotham_bookregular';}
header.masthead .intro-text .intro-heading {
    font-size: 50px;
    font-weight: normal;
    line-height: 50px;
    margin-bottom: 25px;
    font-family: 'gotham_bookregular'; }

@media (min-width: 768px) {
    header.masthead .intro-text {
        /* padding-top: 300px;
         padding-bottom: 200px;*/ }
    header.masthead .intro-text .intro-lead-in {
        /*font-size: 40px;*/
        text-align: justify !important;
        font-style: normal;
        line-height: 40px;
        margin-bottom: 25px;
        font-family: 'gotham_bookregular';
    }
    header.masthead .intro-text .intro-heading {
        font-size: 29px;
        /* font-weight: 700; */
        line-height: 47px;
        margin-bottom: 0;
        font-family: 'gotham_bookregular';
    }
}

.service-heading {
    margin: 15px 0;
    text-transform: none; }

#portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px; }
#portfolio .portfolio-item .portfolio-link {
    position: relative;
    display: block;
    max-width: 400px;
    margin: 0 auto;
    cursor: pointer; }
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    transition: all ease 0.5s;
    opacity: 0;
    background: rgba(254, 209, 54, 0.9); }
#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
    opacity: 1; }
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    font-size: 20px;
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    color: white; }
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
    margin-top: -12px; }
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
    margin: 0; }
#portfolio .portfolio-item .portfolio-caption {
    max-width: 400px;
    margin: 0 auto;
    padding: 25px;
    text-align: center;
    background-color: #fff; }
#portfolio .portfolio-item .portfolio-caption h4 {
    margin: 0;
    text-transform: none; }
#portfolio .portfolio-item .portfolio-caption p {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    font-family: 'gotham_bookregular'; }

#portfolio * {
    z-index: 2; }

@media (min-width: 767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px; } }

.portfolio-modal .modal-dialog {
    max-width: none;
    height: 100%;
    margin: 0; }

.portfolio-modal .modal-content {
    min-height: 100%;
    padding: 100px 0;
    text-align: center;
    border: none;
    border-radius: 0;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none; }
.portfolio-modal .modal-content h2 {
    font-size: 3em;
    margin-bottom: 15px; }
.portfolio-modal .modal-content p {
    margin-bottom: 30px; }
.portfolio-modal .modal-content p.item-intro {
    font-size: 16px;
    font-style: italic;
    margin: 20px 0 30px;
    font-family: 'gotham_bookregular'; }
.portfolio-modal .modal-content ul.list-inline {
    margin-top: 0;
    margin-bottom: 30px; }
.portfolio-modal .modal-content img {
    margin-bottom: 30px; }
.portfolio-modal .modal-content button {
    cursor: pointer; }

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    cursor: pointer;
    background-color: transparent; }
.portfolio-modal .close-modal:hover {
    opacity: 0.3; }
.portfolio-modal .close-modal .lr {
    /* Safari and Chrome */
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #212529; }
.portfolio-modal .close-modal .lr .rl {
    /* Safari and Chrome */
    z-index: 1052;
    width: 1px;
    height: 75px;
    /* IE 9 */
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    background-color: #212529; }

.portfolio-modal .modal-backdrop {
    display: none;
    opacity: 0; }

.timeline {
    position: relative;
    padding: 0;
    list-style: none; }
.timeline:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    content: '';
    background-color: #e9ecef; }
.timeline > li {
    position: relative;
    min-height: 50px;
    margin-bottom: 50px; }
.timeline > li:after, .timeline > li:before {
    display: table;
    content: ' '; }
.timeline > li:after {
    clear: both; }
.timeline > li .timeline-panel {
    position: relative;
    float: right;
    width: 100%;
    padding: 0 20px 0 100px;
    text-align: left; }
.timeline > li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0; }
.timeline > li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0; }
.timeline > li .timeline-image {
    position: absolute;
    z-index: 100;
    left: 0;
    width: 80px;
    height: 80px;
    margin-left: 0;
    text-align: center;
    color: white;
    border: 7px solid #e9ecef;
    border-radius: 100%;
    background-color: #212529; }
.timeline > li .timeline-image h4 {
    font-size: 10px;
    line-height: 14px;
    margin-top: 12px; }
.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 20px 0 100px;
    text-align: left; }
.timeline > li.timeline-inverted > .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0; }
.timeline > li.timeline-inverted > .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0; }
.timeline > li:last-child {
    margin-bottom: 0; }
.timeline .timeline-heading h4 {
    margin-top: 0;
    color: inherit; }
.timeline .timeline-heading h4.subheading {
    text-transform: none; }
.timeline .timeline-body > ul,
.timeline .timeline-body > p {
    margin-bottom: 0; }

@media (min-width: 768px) {
    .timeline:before {
        left: 50%; }
    .timeline > li {
        min-height: 100px;
        margin-bottom: 100px; }
    .timeline > li .timeline-panel {
        float: left;
        width: 41%;
        padding: 0 20px 20px 30px;
        text-align: right; }
    .timeline > li .timeline-image {
        left: 50%;
        width: 100px;
        height: 100px;
        margin-left: -50px; }
    .timeline > li .timeline-image h4 {
        font-size: 13px;
        line-height: 18px;
        margin-top: 16px; }
    .timeline > li.timeline-inverted > .timeline-panel {
        float: right;
        padding: 0 30px 20px 20px;
        text-align: left; } }

@media (min-width: 992px) {
    .timeline > li {
        min-height: 150px; }
    .timeline > li .timeline-panel {
        padding: 0 20px 20px; }
    .timeline > li .timeline-image {
        width: 150px;
        height: 150px;
        margin-left: -75px; }
    .timeline > li .timeline-image h4 {
        font-size: 18px;
        line-height: 26px;
        margin-top: 30px; }
    .timeline > li.timeline-inverted > .timeline-panel {
        padding: 0 20px 20px; } }

@media (min-width: 1200px) {
    .timeline > li {
        min-height: 170px; }
    .timeline > li .timeline-panel {
        padding: 0 20px 20px 100px; }
    .timeline > li .timeline-image {
        width: 170px;
        height: 170px;
        margin-left: -85px; }
    .timeline > li .timeline-image h4 {
        margin-top: 40px; }
    .timeline > li.timeline-inverted > .timeline-panel {
        padding: 0 100px 20px 20px; } }

.team-member {
    margin-bottom: 50px;
    text-align: center; }
.team-member img {
    width: 225px;
    height: 225px;
    border: 7px solid #fff; }
.team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none; }
.team-member p {
    margin-top: 0; }

section#contact {
    background-color: #212529;
    /*background-image: url("../img/map-image.png");*/
    background-repeat: no-repeat;
    background-position: center; }
section#contact .section-heading {
    color: #fff; }
section#contact .form-group {
    margin-bottom: 25px; }
section#contact .form-group input,
section#contact .form-group textarea {
    padding: 20px; }
section#contact .form-group input.form-control {
    height: auto; }
section#contact .form-group textarea.form-control {
    height: 248px; }
section#contact .form-control:focus {
    border-color: #fed136;
    box-shadow: none; }
section#contact ::-webkit-input-placeholder {
    font-weight: 700;
    color: #ced4da;
    font-family: 'gotham_bookregular';}
section#contact :-moz-placeholder {
    font-weight: 700;
    color: #ced4da;
    /* Firefox 18- */
    font-family: 'gotham_bookregular'; }
section#contact ::-moz-placeholder {
    font-weight: 700;
    color: #ced4da;
    /* Firefox 19+ */
    font-family: 'gotham_bookregular';}
section#contact :-ms-input-placeholder {
    font-weight: 700;
    color: #ced4da;
    font-family: 'gotham_bookregular';}

footer {
    padding: 25px 0;
}
footer span.copyright {
    font-size: 90%;
    line-height: 40px;
    text-transform: none;
    font-family: 'gotham_bookregular'; }
footer ul.quicklinks {
    font-size: 90%;
    line-height: 40px;
    margin-bottom: 0;
    text-transform: none;
    font-family: 'gotham_bookregular'; }

ul.social-buttons {
    margin-bottom: 0;
    float: right;
}
ul.social-buttons li a {
    font-size: 20px;
    line-height: 40px;
    display: block;
    width: 40px;
    height: 40px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: white;
    border-radius: 100%;
    outline: none;
    padding: 0px 11px;    
    background-color: #212529; }
ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
    background-color: #000; }
/*About*/


.about_ani {
    background: #1f1b1a;
    color: #fff;
}
.text-ani
{
    color: #fff;
    line-height: 30px;
}
/*Scroll down btn*/
@-webkit-keyframes ani-mouse {
    0% {
        opacity: 1;
        top: 29%;
    }
    15% {
        opacity: 1;
        top: 50%;
    }
    50% {
        opacity: 0;
        top: 50%;
    }
    100% {
        opacity: 0;
        top: 29%;
    }
}
@-moz-keyframes ani-mouse {
    0% {
        opacity: 1;
        top: 29%;
    }
    15% {
        opacity: 1;
        top: 50%;
    }
    50% {
        opacity: 0;
        top: 50%;
    }
    100% {
        opacity: 0;
        top: 29%;
    }
}
@keyframes ani-mouse {
    0% {
        opacity: 1;
        top: 29%;
    }
    15% {
        opacity: 1;
        top: 50%;
    }
    50% {
        opacity: 0;
        top: 50%;
    }
    100% {
        opacity: 0;
        top: 29%;
    }
}
.scroll-btn {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
}
.scroll-btn > * {
    display: inline-block;
    line-height: 18px;
    font-size: 13px;
    font-weight: normal;
    color: #7f8c8d;
    color: #ffffff;
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 2px;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *.active {
    color: #ffffff;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *:active,
.scroll-btn > *.active {
    opacity: 0.8;
    filter: alpha(opacity=80);
}
.scroll-btn .mouse {
    position: relative;
    display: block;
    width: 35px;
    height: 55px;
    margin: 20px auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid white;
    border-radius: 23px;
}
.scroll-btn .mouse > * {
    position: absolute;
    display: block;
    top: 29%;
    left: 50%;
    width: 8px;
    height: 8px;
    margin: -4px 0 0 -4px;
    background: white;
    border-radius: 50%;
    -webkit-animation: ani-mouse 2.5s linear infinite;
    -moz-animation: ani-mouse 2.5s linear infinite;
    animation: ani-mouse 2.5s linear infinite;
}
.text_journey {
    padding: 4% 0;
}
#header-wrapper.static {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    z-index: 9999;
}


#header-wrapper {
    width: 100%;
    margin: 0 auto;
    z-index: 1000;
    position: relative;
    background: #fff;
    -webkit-transition: height 0.2s ease 0s;
    -moz-transition: height 0.2s ease 0s;
    -ms-transition: height 0.2s ease 0s;
    -o-transition: height 0.2s ease 0s;
    transition: height 0.2s ease 0s;
}
.header-style-3 #top-bar-wrapper {
    background: #1a1a1a;
    border-bottom: none;
}

#top-bar-wrapper {
    width: 100%;
    background: #fff;
    margin: 0 auto;
    border-bottom: 1px solid #eee;
}
#top-bar .contact-info {
    width: 50%;
    float: left;
    padding-top: 10px;
    margin: 0;
    padding-left: 0;
}
.header-style-3 #top-bar .contact-info li, .header-style-3 #top-bar .contact-info li a {
    color: #bbb;
}

#top-bar .social-links {
    max-width: 50%;
    float: right;
    margin: 0;
}

ol, ul {
    list-style: none;
}
#top-bar .contact-info li {
    float: left;
    margin-right: 25px;
    color: #888;
    font-size: 16px;
}

li {
    display: list-item;
}
.header-style-3 #top-bar .social-links li {
    background: #444;
    border-left: 1px solid #555;
    border-right: 1px solid #333;
}

#top-bar .social-links li {
    float: left;
    background: #fff;
    width: 43px;
    height: 45px;
    border-left: 1px solid #eee;
}
#top-bar .social-links li:hover a {
    color: #fff !important;
}

#top-bar .social-links li a {
    color: #bbb;
    width: 45px;
    height: 45px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#logo {
    margin: 15px 0;
    float: left;
    max-width: 170px;
}
.img-steps
{
    width: 100%;
}
.col_swap_one {
    left: 50%;
}

.col_swap_two {
    right: 50%;
}
.grey_bg {
    background: #f0f0f0;
}
.tile_steps {

    background: #d1d1d1;
    padding: 10px;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 17px 6px -6px rgba(130, 130, 130, 0.34);
}
.tile_steps1 {

    background: #f0f0f0;
    padding: 10px;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 17px 6px -6px rgba(160, 159, 159, 0.49);
}
.row_margin
{
    margin: 5% 0 ;
}
.img_padd
{
    padding: 15px;
}
.padd_more {
    min-height: 265px;
    padding: 30px 10px;
    box-shadow: 0 4px 8px 0 rgba(141, 141, 141, 0.2), 0 6px 20px 0 rgba(134, 134, 134, 0.19);
    background: #f2f2f2;
    /* box-shadow: 0 18px 16px -14px rgba(0, 0, 0, 0.37); */
}
.section_div {
    padding: 5% 0;
}
.section_div_text {
    text-align: center;
    margin: 0;
    color: #fec503;
    font-size: 25px;
} 
.meetup_title {
    text-align: center;
    padding: 10px 0;
    font-size: 43px;
    line-height: 55px;
}
.img_icon {
    padding-top: 25px;
    margin: 0 auto;
    display: block;
}
.img_icon_text{
    text-align: center;
}
.bg_grey {
    background: #f2f2f2;
}
.text_theme{
    color: #fec503;
}
.btn_centre {
    display: block;
    margin: 0 auto;
    background: #00aeff;
    /*background: #212529;*/
    box-shadow: 0 18px 16px -14px rgba(0, 0, 0, 0.37);
    color: #fff !important;
    padding: 10px;
    border-radius: 0;
    width: 25%;
    text-align: center;
}
.grey_bg {
    background: #f0f0f0;
    background-image: url(../img/header-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 320px;
    padding: 0;
}
.timeline-heading {
    /* background: rgba(38, 37, 35, 0.34); */
    color: #fff;
    text-align: center;
    padding: 0%;
    font-size: 23px;
}
.subheading_sg {
    font-size: 60px;
}
small {
    font-size: 58%;

}
a.know_more_ag {
    color: #fff;
}
@media (min-width:200px) and (max-width:500px)
{
    footer span.copyright {

        font-size: 12px;

    }
    ul.social-buttons {
        margin-bottom: 0;
        float: left;
    }
    .subheading_sg {
        font-size: 25px;
        margin: 0;
        padding-bottom: 8px;
        width: 75%;
    }
    a.btn_know_more_ag {

        padding: 8px 14px;

        font-size: 12px;

    }
    a.know_more_ag {
        font-size: 17px;
    }
    .grey_bg {

        min-height: 188px;
        padding: 0;
    }
    #top-bar .social-links li {
        float: left;
        background: #fff;
        width: 30px;
        height: 45px;
        border-left: 1px solid #eee;
    }
    .col_swap_one {
        left: 0%;
    }

    .col_swap_two {
        right:0%;
    }
    #top-bar .contact-info li {
        font-size: 8px;
        font-weight: bold;
    }
    #top-bar .contact-info {

        padding-top: 5px;

    }
    header.masthead .intro-text .intro-lead-in {
        font-size: 16px;
        text-align: justify !important;
        font-style: normal;
        line-height: 30px;
        margin-bottom: 25px;

    }
    h1.main_title {
        margin: 0;
        font-weight: normal;
        font-size: 27px;
    }
    header.masthead .intro-text {
        padding-top: 174px;
        padding-bottom: 25px;
    }
    .scroll-btn {
        display: none;

    }

    h2.section_div_text {
        display: block;
        text-align: center;
        font-size: 22px;
    }
    .btn_know_more {
        padding: 7px;
        font-size: 11px;
    }
    header.masthead .intro-text .intro-heading {
        font-size: 18px;

        line-height: 26px;

    }
    .img-responsive {
        margin: 0 auto;
        display: block;
        width: 34%;
    }
    a.btn_know_more.js-scroll-trigger {
        display: block;
        margin: 0 auto;
        width: 28%;
        text-align: center;
    }

    .padd_more {
        padding: 0px 0;
        min-height: 180px;
        margin: 2% 0;
    }
    .meetup_title {
        line-height: 36px;
        text-align: center;
        padding: 10px 0;
        font-size: 31px;
    }
    .btn_centre {

        padding: 8px;

        width: 39%;

    }
    section h2.section-heading {
        font-size: 31px;
        margin-top: 0;
        margin-bottom: 15px;
    }

    section#contact .form-group input, section#contact .form-group textarea {
        padding: 10px;
    }
    section#contact .form-group textarea.form-control {
        height: 160px;
    }
    .text_journey {
        padding: 6% 0;
    }
    h1.h1_title {
        text-align: left;
        font-size: 30px;
        width: 100%;
        line-height: 44px;
    }
}
@media (min-width:501px) and (max-width:768px)
{
    h1.main_title {
        margin: 0;
        font-weight: normal;
        font-size: 38px;
    }
    .col_swap_one {
        left: 0%;
    }

    .col_swap_two {
        right:0%;
    }
    #top-bar .contact-info li {

        font-size: 13px;
    }
    #top-bar .contact-info {

        padding-top: 3px;

    }
    header.masthead .intro-text .intro-lead-in {
        font-size: 18px;
        line-height: 30px;
    }
    header.masthead .intro-text {
        padding-top: 160px;
        padding-bottom: 25px;
    }
    .scroll-btn {
        display: none;

    }
    .meetup_title {
        text-align: center;
        padding: 5px 0;
        font-size: 27px;
        line-height: 38px;
    }
    .padd_more {
        min-height: 220px;

    }
    section h2.section-heading {
        font-size: 32px;

    }
    section#contact .form-group input, section#contact .form-group textarea {
        padding: 15px;
    }
    section#contact .form-group textarea.form-control {
        height: 217px;
    }
    .btn_centre {
        width: 45%;
        padding: 5px 0 !important;
    }
    .img_icon_text {
        text-align: center;
        font-size: 25px;
    }
    .subheading_sg {
        font-size: 32px;
        margin: 0;
        margin-bottom: 10px;
    }
    .text_journey {
        padding: 2% 0;
    }
    .grey_bg {

        min-height: 196px;
        padding: 0;
    }
    h2.section_div_text {

        font-size: 21px;
    }
    .btn_know_more {

        padding: 11px 16px;

    }
    a.btn_know_more_ag {

        padding: 7px 20px;

    }
    .img-responsive {
        width: 100%;
    }
    footer span.copyright {
        font-size: 78%;
        width: 100%;
        line-height:28px; 

    }
    h1.h1_title {
        text-align: left;
        font-size: 33px;
        width: 60%;
        line-height: 47px;
    }
}