/* TABLE OF CONTENT
    -------------------------------------------------- 

    1. NAVBAR
    2. ABOUT US
    3. SERVICE
    4. PORTFOLIO
    5. TEAM
    6. PRICE TABLES
    7. PROCESS
    8. CLIENTS
    9. FACTS
    10. CONTACT    
    11. FOOTER
    12. BORDERS
    13. RESPONSIVE CSS
     
    */

/* 1. Navbar
-------------- */

.navbar-inverse {
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.9);
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.9);
}
.navbar-inverse .navbar-nav > li > a {
	color: #ff7500;
}
/* 2. About Us
-------------- */

    #about {
	    background: #2c3e50;
	    padding: 120px 0px ;
	    display: block;
        width: 100%;
        overflow: hidden;
        position: relative;
	    z-index: 900;
        -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.9);
	    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.9);
    }
    
    #about h1 {
	    color: #fff;  
    }
    
    #about p {
	    color: #fff;
    }
    
    #skillbar h6 {
	    color: #fff !important;
    }

/* 3. Service
-------------- */
    
    #service {
	    background: #27ad60;
	    padding: 120px 0px;
	    display: block;
        width: 100%;
        overflow: hidden;
        position: relative;
	    z-index: 900;
	    text-align: center;
    }
    
     #service h1 {
	    color: #fff;
    }
    
    .service-col:hover {
	    background: #2c3e50;
	    color: #fff;
    }
    
    .service-col h4 {
	    color: #fff;
	}
	
	.service-col:hover h4 {
	    color: #e67e22 !important;
	    border-bottom: 1px solid #fff;
    }
    
    .service-col p {
	    color: #c1c1c1;
    }
    
     .service-col:hover p {
	    color: #fff;
    }
    
    .service-col:hover > div {
        background: #e67e22;
        color: #fff;
    }
    
    .icon-wrench, .icon-mobile, .icon-desktop {
	    background-color: #2c3e50;
        color: #e67e22;
    }

/* 4. Portfolio
-------------- */
    
    #portfolio {
	    background: #2c3e50;
	    padding: 120px 0px ;
	    display: block;
        width: 100%;
        overflow: hidden;
        position: relative;
	    z-index: 900;
    }
    
    #portfolio h1 {
	    color: #fff;
    }
    
    .caption {
        color: #fff !important;
        background: rgba(39, 174, 96, 0.75);
    }
    
    .caption h5 {
        color: #2c3e50;
	    border-bottom: 1px solid #fff;
	}
    
/* 5. Team
-------------- */
    
    #team {
	    background: #27ad60;
	    padding: 120px 0px ;
	    display: block;
        width: 100%;
        overflow: hidden;
        position: relative;
	    z-index: 900;
	    text-align: center;
    }
    
    #team h1 {
	    color: #fff;
    }
    .team:hover {
	    background-color: #2c3e50;
	    color: #fff;
    }
    
    .team h5 {
        color: #fff;
    }

    .job {
        color: #443e44 !important;
        border-bottom: 1px dashed #9e968f;
    }
    
    .team p {
	    color: #c1c1c1;
    }
    
    .team:hover p {
	    padding: 10px;
	    color: #fff;
    }
    
    .team a {
	    color: #c1c1c1;
    }
    
    .team:hover a {
	    color: #fff;
    }
    
    .member1, .member2, .member3, .member4 {
        color: #e67e22;
    }
    
    .team-member1:hover > div {
        color: #fff;
        border: 5px solid #e67e22;
    }
    .team-member2:hover > div {
        color: #fff;
        border: 5px solid #e67e22;
    }
    .team-member3:hover > div {
        color: #fff;
        border: 5px solid #e67e22;
    }
    .team-member4:hover > div {
        color: #fff;
        border: 5px solid #e67e22;
    }
    
    .icon-social {
        background: #fff;
        color: #000;
    }
    
   
    
/* 6. Price
-------------- */
    
    #price {
	    background: #2c3e50;
	    padding: 120px 0px ;
	    display: block;
        width: 100%;
        overflow: hidden;
        position: relative;
	    z-index: 900;
    }
    
    #price h1 {
	    color: #fff;
    }
    
    .price-table {
    	border: 1px solid #27ad60;
    }
    
    .price-table-heading h3 {
	    color: #c1c1c1 !important;
    }
    
    .price-table:hover {
        background: #e67e22;
    }
    
    .the-price {
		background-color: #27ad60;
    }
    
    .table-feature {
    	border: 2px solid #e67e22;
	}
	
	.table-feature:hover {
       background: #e67e22;
    }
    
    /* 6. Process
-------------- */
    
    #process {
	    background: #27ad60;
	    padding: 120px 0px ;
	    display: block;
        width: 100%;
        overflow: hidden;
        position: relative;
	    z-index: 900;
    }
    
    #process h1 {
	    color: #fff;
    }
    
    .our-process { 
        background: #27ad60 url(../img/process/our-process-theme2.svg) no-repeat center; 
    }
    
    .process-con h5 {  
        color: #c1c1c1;
    }
    
    .process-img { 
        background-color: #2c3e50;
        color: #e67e22;
    }
    
    .process-img:hover {
	    background: #e67e22;
	    color: #fff;
    }


/*7. Clients
-------------- */
    
    #clients {
	    background: #2c3e50;
	    padding: 120px 0px ;
	    display: block;
        width: 100%;
        overflow: hidden;
        position: relative;
	    z-index: 1000;
    }
    
    .testemonials p {
	    color: #c1c1c1;
    }
    
    .testemonials .author {
	    color: #e67e22;
    }
    
     #clients h1 {
	    color: #fff;
    }
    
    .nbs-flexisel-item {
        border-bottom: 1px solid #fff;
    }
    
    .nbs-flexisel-nav-left,
    .nbs-flexisel-nav-right {
        background-color: #443e44 !important;
    }
    
    .nbs-flexisel-nav-left:hover,
    .nbs-flexisel-nav-right:hover {
        background-color: #e67e22 !important;
    }
     
/* 8. FACTS
-------------- */
    
    #facts {
	    background: #27ad60 url("../img/pattern_theme_2.svg") repeat;
	    padding: 120px 0px ;
	    display: block;
        width: 100%;
        overflow: hidden;
        position: relative;
	    z-index: 900;
	    -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.9);
	    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.9);
    }
    
    #facts h1 {
	    color: #fff;
    }   
    
     /* Fun Facts */
    
    .fun-fact h5 {
	    color: #fff;
    }
    
    .fun-fact h3 {
	    color: #fff;
    }
    
    .fun-fact p {
	    color: #c1c1c1;
	    font-size: 60px;
    }
    
    .fun-fact:hover p {
	    color: #e67e22;
    }   
       
/* 9. Contact
-------------- */
   
    #contact {
	    background: #2c3e50;
	    padding: 120px 0px ;
	    display: block;
        width: 100%;
        overflow: hidden;
        position: relative;
	    z-index: 900;
	    -webkit-box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.9);
	    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.9);
    }
    
    #contact h1 {
	    color: #fff;
    }
    
    .requi {
	    color: #fff;
    }
    
/* 10. Footer
-------------- */
    
    #foot {
	    background: #27ad60;
	    padding: 10px 0px ;
	    display: block;
        width: 100%;
        overflow: hidden;
        position: relative;
	    z-index: 900;
	    -webkit-box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.9);
	    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.9);
    }
    
    .bottom-con h5 {
	    color: #fff;
    }
    
    .bottom-con p {
        padding-left: 30%;
	    text-align: left;
	    color: #fff;
    }
    
    .footer a:hover {
	    color: #e67e22;
    }
    
    /* GOING UP ARROW */
    
    .up {
	    background: #2c3e50;
    }
    
    .up span:hover {
		color: #e67e22 ;
	}
	
	.up span {
	    color: #c1c1c1;
	}
	
/* 11. Borders
-------------- */

    .head-border-white {
	    background: #fff;
    }
    
    .head-border-grey {
	    background: #443e44;
    }	

/* 12. General
-------------- */
 
    .head p {
	    color: #fff;
    }
    
    @media only screen and (max-width: 767px) {
	    
	.our-process { 
       background: #27ad60 url(../img/process/our-process-theme2-mobil.svg) no-repeat center top; 
       min-height: 1200px;
       margin-bottom: 150px;
    }
    
    .process-con h5 {  
       background: #27ad60; 
    }
    
    }