<center>
<table width="680" border="1" cellpadding="0" cellspacing="0" bordercolor="#000000" style="font-family:Arial, Helvetica, sans-serif;">
  <tr>
    <td>
    <table width="680" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><img src="dons_class_1.jpg" alt="The Principles of Product Development Flow" width="680" height="538" border="0" usemap="#Map"></td>
  </tr>
  <tr>
    <td style="padding:10px;color:#9ca0d0;">
    <ul style="padding:10px;color:#9ca0d0; padding-left:20px;">
    <li>aaaaaaaaaaaaa aaaaaaaaaaaaaaaaaaaaaa aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</li>
    <li>aaaaaaaaaaaaa aaaaaaaaaaaaaaaaaaaaaa aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</li>
    <li>aaaaaaaaaaaaa aaaaaaaaaaaaaaaaaaaaaa aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</li>
    <li>aaaaaaaaaaaaa aaaaaaaaaaaaaaaaaaaaaa aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</li>
    </ul>    </td>
  </tr>
  <tr>
    <td><table width="680" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="425" style="padding:10px; color:#525252; font-weight:bold; padding-left:20px;">Workshop Date: 12-13 Sep 2016<br>
        Venue: Novotel Hotel, ORR, Bangalore<br><br>
        <span style="font-weight:normal;">register at below websites -</span></td>
        <td width="238" align="center" bgcolor="#ffbe4a" style="padding:10px;">'FREE TICKET' for Lean Kanban India 2016 Conference, with each Workshop Registration</td>
        <td width="17">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr bgcolor="#ffbe4a">
    <td bgcolor="#ffe9c2"><table width="680" border="0" cellspacing="0" cellpadding="0">
      <tr style="padding:10px;">
        <td width="322" height="38" align="center"><strong><a style="color:#000000; text-decoration:none;" href="http://www.leankanbanindia.com">www.leankanbanindia.com</a></strong></td>
        <td width="36" align="center"><strong>|</strong></td>
        <td width="322" align="center"><strong><a style="color:#000000; text-decoration:none;" href="http://www.innovationroots.com">www.innovationroots.com</a></strong></td>
      </tr>
    </table></td>
  </tr>
</table>
    </td>
  </tr>
</table>

</center>
<map name="Map"><area shape="rect" coords="1,1,400,58" href="http://www.innovationroots.com">
<area shape="rect" coords="521,2,679,140" href="http://www.leankanbanindia.com/"><area shape="rect" coords="5,59,518,537" href="http://www.meraevents.com/event/second-generation-lean-product-development-applying-the-principles-of-flow-by-donald-reinersten?ucode=organizer">
<area shape="rect" coords="520,142,676,533" href="http://www.meraevents.com/event/second-generation-lean-product-development-applying-the-principles-of-flow-by-donald-reinersten?ucode=organizer">
</map>