#mask {
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  background-color:#f8f6f6;
  display:none;
}  
#boxes .window {
  position:absolute;
  left:0;
  top:0;
  width:460px;
  height:100%;
  display:none;
  z-index:9999;
  padding:20px;
  border-radius: 15px;
  text-align: center;
}
#boxes #dialog {
  width:1024px; 
  height:254px;
  padding:10px;
  /*background-color:#f8f1f1;*/
  font-family: 'Segoe UI Light', sans-serif;
  font-size: 15pt;
  /*background-image: url('/inc/assets/img/banner/1.png');*/
  background-repeat:no-repeat;
}

/*body{
  background: url('bg.jpg');
}*/
#lorem{
	font-family: "Segoe UI", sans-serif;
	font-size: 12pt;
  text-align: left;
}
#popupfoot{
	font-family: "Segoe UI", sans-serif;
	font-size: 16pt;
  padding: 10px 20px;
}
#popupfoot a{
	text-decoration: none;
}
.agree:hover{
  background-color: #D1D1D1;
}
.popupoption:hover{
	background-color:#D1D1D1;
	color: green;
}
.popupoption2:hover{
	
	color: red;
}