/**
* ====================================================================== *
* Main Customization CSS *
* ====================================================================== *
**/

html, body {
    height: 100%;
    font: normal 112.5%/1.65 sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #ffffff;
    color: #444444;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
}
/* Text Selection Style */
::selection {
    color: #fff;
    background: #000;
}

::-moz-selection {
    color: #fff;
    background: #000;
}

/* Theme Default Links */
a:hover,
a:focus {
    text-decoration: none;
}
.ilink {
    border-bottom: 1px solid #848b79;
    box-shadow: inset 0 -4px 0 #848b79;
    color: inherit;
}
.ilink:hover,
.ilink:focus {
    color: inherit;
    text-decoration: none;
}

/* Section Styles */
/*section {
    margin: 2.5em 0;
    padding: 2.5em 0;
}*/
section {
   margin: 5em 0; 
}

section.padding,
section.lead-quote,
section.page-cover,
section.home-cover {
    margin: 0;
    padding: 5em 0;
}

section.mix-margin-padding {
    margin: 2.5em 0;
    padding: 2.5em 0;
}

.intro-heading {
    text-align: center;
    margin-bottom: 2em;
}

/* Header and Navigation Bar */
.primary-nav {
    width: auto;
}

.topbar-nav {
    display: block;
    overflow: hidden;
    color: #000;
    padding: 0.68em 0;
}

.topbar-nav {
    display: none;
}

.topbar-nav.visible {
    display: block;
}

.topbar-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.topbar-nav li {
    float: left;
    margin-left: 10px;
}

.topbar-nav i {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background: #ccc;
    border-radius: 2px;
    color: #888;
}

.topbar-nav a {
    color: inherit;
}

.logo-text {
    font-family: 'Times New Roman', serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: -2px;
    color: #000000;
}

.navbar-collapse {
    -webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,.1);
    box-shadow: inset 0 1px 0 rgba(0,0,0,.1);
}

body.sticky-nav-active > .primary-nav:not(.navbar-transparent) {
    padding: 0.6em 0;
    border-bottom: 1px solid #fff;
    -webkit-box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.16);
    box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.16);
}

.navbar, .navbar-white, .navbar-transparent {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.navbar-white {
    background: rgba(255,255,255,0.9);    
}

.navbar-transparent {
    background-color: rgba(0,0,0,0.15);
}

.topbar-nav,
#ir_nav ul.nav > li > a {
    font: 13px 'Roboto Slab', serif;
}

#ir_nav ul.nav > li > a {
    text-transform: uppercase;
    color: #404040;
    padding-left: 0;
    padding-right: 0;
    margin-right: 5px;
}

#ir_nav ul.nav > li > a:hover,
#ir_nav ul.nav > li > a:focus,
#ir_nav ul.nav > .active > a, 
#ir_nav ul.nav > .active > a:hover, 
#ir_nav ul.nav > .active > a:focus,
#ir_nav ul.nav > .open > a, 
#ir_nav ul.nav > .open > a:hover, 
#ir_nav ul.nav > .open > a:focus {
    background-color: transparent;
}

#ir_nav ul.nav > li > a::before,
#ir_nav ul.nav > li > a::after {
    display: inline-block;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;
}

#ir_nav ul.nav > li > a::before {
    margin-right: 10px;
    content: '[';
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    transform: translateX(20px);
}

#ir_nav ul.nav > li > a::after {
    margin-left: 10px;
    content: ']';
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    transform: translateX(-20px);
}

#ir_nav ul.nav > li > a:hover::before,
#ir_nav ul.nav > li > a:hover::after,
#ir_nav ul.nav > li > a:focus::before,
#ir_nav ul.nav > li > a:focus::after {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
}

ul.nav > li {
    padding: 4px 0;
}

.navbar-transparent ul.nav > li > a:hover,
.navbar-transparent ul.nav > li.active > a {
    color: #020202;
}

.social-icon > a:hover > i[class*='fa'] {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.social-icon > a:hover > i.fa-facebook {
    background: #3b5998;
    color: #fff;
}
.social-icon > a:hover > i.fa-twitter {
    background: #00aced;
    color: #fff;
}
.social-icon > a:hover > i.fa-google-plus {
    background: #dd4b39;
    color: #fff;
}
.social-icon > a:hover > i.fa-linkedin {
    background: #007bb6;
    color: #fff;
}

.navbar-nav >li > .dropdown-menu {
    margin-top: 15px;
    border-radius: 0px;
}

.navbar-toggle {
    border-color: #111;
    background: #444;
}

.navbar-toggle .icon-bar {
    background-color: #fff;
}

/* Featurette */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}

/* Tables & DataTables */
table .btn {
    margin: 0;
}

/* Home & Page Covers */
.home-cover{ 
    width: 100%; 
    margin: 0;
    padding: 3rem 0;
}
.page-cover { 
    width: 100%; 
    height: 100%;
    margin: 0;
    padding: 3rem 0;
}
.page-cover-half {
    position: relative;
    width: 100%;
    height: 540px;
    top: 0;
    left: 0;
    margin: 0;
}
.page-cover-half > .cover-img {
    position: fixed;
    width: 100%;
    height: 540px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.page-cover-half > .container,
.home-cover > .container,
.page-cover > .container {
    display: table;
    vertical-align: middle;
    height: 100%;
}
.page-cover-half,
.page-cover {    
    background: #eee;
    overflow: hidden;
}

.page-cover-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.page-title-wrapper,
.home-cover-callout {
    display: table-cell; 
    vertical-align: middle; 
    text-align: center;
}

.home-cover-callout p {
    color: #222222;
    margin: 0 0 10px;
}

.page-title-wrapper {
}

.page-title {
    position: relative;
    padding-bottom: 8px;
}

.page-title h1 {
    padding: 10px 0;
    padding-top: 0;
    vertical-align: middle;
    font-weight: normal;
    text-align: center;
    display: inline-block;
    letter-spacing: -1px;
}

.page-title h1:after {
    content: "";
    display: block;
    width: 62%;
    height: 3px;
    background-color: #ccc;
    margin: auto;
    margin-top: 10px;
}

/*.page-title-wrapper {
    min-height: 420px;
    height: 420px;
}*/

.page-subtitle {
    display: block;
    margin: auto;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 3px;
    margin-top: 1px;
}

.home-bg {
    background-image: url('../img/banner/home-globe.png');
    z-index: -1;
}
.about-bg {
    background-image: url('../img/banner/about.jpg');
}
.solution-bg {
    background-image: url('');
}
.career-bg {
    background-image: url('../img/banner/career.jpg');
}

/* Footer Section */
/* Footer */
#footer {
    position: relative;
    display: block;
    overflow: hidden;
    height: auto;
    background-color: #252525;
    color: #f7f7f7;
}

#footer .footer-closure {
    text-align: center;
    padding: 25px 0;
    width: 100%;
    height: auto;
    background-color: #1f1f1f;
    font-size: 13px;
}

#footer ul {
    list-style: none;
    padding: 0;
}

.footer-main {
    padding: 3% 0;
}

.footer-main,
.footer-main h5 {
    color: #fff;
}

.footer-main h5 {
    font-weight: normal;
}

.footer-main h6 {
    font-weight: 300;
}

.footer-main h6 > a {
    color: #fff;
}

.footer-main h6 > a:hover,
.footer-main h6 > a:active {
    text-decoration: none;
    color: #020202;
}

.closure-nav,
.copyrights {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 11px;
    color: #b3b3b1;
}

.closure-nav li {
    display: inline;
    letter-spacing: 1px;
}

.closure-nav li:before {
    content: "|";
    margin-left: 5px;
}

.closure-nav li:first-child:before {
    content: none;
}

.closure-nav ul li a {
    margin-right: 7px;
    margin-left: 7px;
    color: #b3b3b1;
}

.closure-nav ul {
    margin-bottom: 0;    
}

/* Scroll To Top */
.scroll-to-top.visible {
    -moz-opacity: 1;
    -khtml-opacity: 1;
    -webkit-opacity: 1;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
}

.scroll-to-top {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-opacity: 0;
    -khtml-opacity: 0;
    -webkit-opacity: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    position: fixed;
    right: 15px;
    bottom: 15px;
    z-index: 100;
    width: 35px;
    height: 35px;
    background: #ccc;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    cursor: pointer;
}

.scroll-to-top:hover {
    background: #000;
    background: rgba(0, 0, 0, 1);
}
.scroll-to-top i {
    font-size: 18px;
    line-height: 33px;
}

/* UI Elements */
/* BS Callout Imports */
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: rgba(56,56,56,1);
}
.bs-callout-default h4 {
    color: rgba(56,56,56,1);
}
.bs-callout-danger {
    border-left-color: #f44336;
}
.bs-callout-danger h4 {
    color: #f44336;
}
.bs-callout-warning {
    border-left-color: #ff5722;
}
.bs-callout-warning h4 {
    color: #ff5722;
}
.bs-callout-info {
    border-left-color: #03a9f4;
}
.bs-callout-info h4 {
    color: #03a9f4;
}
/* Checkboxes and Radio Buttons */

/* Button Style */
.btn {
    position: relative;
    
    border: 0;
    
    cursor: pointer;
    border-radius: 2px;
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.84);
    letter-spacing: 1px;
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    outline: none !important;
}
.btn:hover:not(.btn-flat):not(.btn-outline) {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.28);
    color: rgba(255, 255, 255, 0.84);
}
.btn:active:not(.btn-flat):not(.btn-outline) {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    color: rgba(255, 255, 255, 0.84);
}
.btn:focus,
.btn:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.84);
}
.ibtn-default:not(.btn-outline),
.ibtn-default.btn-outline:hover,
.ibtn-default.btn-outline:active {
    background-color: rgba(56,56,56,1);
}
.ibtn-primary:not(.btn-outline),
.ibtn-primary.btn-outline:hover,
.ibtn-primary.btn-outline:active {
    background-color: #4285f4;
}
.ibtn-success:not(.btn-outline),
.ibtn-success.btn-outline:hover,
.ibtn-success.btn-outline:active {
    background-color: #0f9d58;
}
.ibtn-info:not(.btn-outline),
.ibtn-info.btn-outline:hover,
.ibtn-info.btn-outline:active {
    background-color: #03a9f4;
}
.ibtn-warning:not(.btn-outline),
.ibtn-warning.btn-outline:hover,
.ibtn-warning.btn-outline:active {
    background-color: #ff5722;
}
.ibtn-danger:not(.btn-outline),
.ibtn-danger.btn-outline:hover,
.ibtn-danger.btn-outline:active {
    background-color: #f44336;
}
.ibtn-red:not(.btn-outline),
.ibtn-red.btn-outline:hover,
.ibtn-red.btn-outline:active {
    background-color: #f44336;
}
.ibtn-pink:not(.btn-outline),
.ibtn-pink.btn-outline:hover,
.ibtn-pink.btn-outline:active {
    background-color: #e91e63;
}
.ibtn-purple:not(.btn-outline),
.ibtn-purple.btn-outline:hover,
.ibtn-purple.btn-outline:active {
    background-color: #9c27b0;
}
.ibtn-deeppurple:not(.btn-outline),
.ibtn-deeppurple.btn-outline:hover,
.ibtn-deeppurple.btn-outline:active {
    background-color: #673ab7;
}
.ibtn-indigo:not(.btn-outline),
.ibtn-indigo.btn-outline:hover,
.ibtn-indigo.btn-outline:active {
    background-color: #3f51b5;
}
.ibtn-lightblue:not(.btn-outline),
.ibtn-lightblue.btn-outline:hover,
.ibtn-lightblue.btn-outline:active {
    background-color: #03a9f4;
}
.ibtn-cyan:not(.btn-outline),
.ibtn-cyan.btn-outline:hover,
.ibtn-cyan.btn-outline:active {
    background-color: #00bcd4;
}
.ibtn-teal:not(.btn-outline),
.ibtn-teal.btn-outline:hover,
.ibtn-teal.btn-outline:active {
    background-color: #009688;
}
.ibtn-lightgreen:not(.btn-outline),
.ibtn-lightgreen.btn-outline:hover,
.ibtn-lightgreen.btn-outline:active {
    background-color: #8bc34a;
}
.ibtn-lime:not(.btn-outline),
.ibtn-lime.btn-outline:hover,
.ibtn-lime.btn-outline:active {
    background-color: #cddc39;
}
.ibtn-lightyellow:not(.btn-outline),
.ibtn-lightyellow.btn-outline:hover,
.ibtn-lightyellow.btn-outline:active {
    background-color: #ffeb3b;
}
.ibtn-orange:not(.btn-outline),
.ibtn-orange.btn-outline:hover,
.ibtn-orange.btn-outline:active {
    background-color: #ff9800;
}
.ibtn-deeporange:not(.btn-outline),
.ibtn-deeporange.btn-outline:hover,
.ibtn-deeporange.btn-outline:active {
    background-color: #ff5722;
}
.ibtn-grey:not(.btn-outline),
.ibtn-grey.btn-outline:hover,
.ibtn-grey.btn-outline:active {
    background-color: #9e9e9e;
}
.ibtn-bluegrey:not(.btn-outline),
.ibtn-bluegrey.btn-outline:hover,
.ibtn-bluegrey.btn-outline:active {
    background-color: #607d8b;
}
.ibtn-brown:not(.btn-outline),
.ibtn-brown.btn-outline:hover,
.ibtn-brown.btn-outline:active {
    background-color: #795548;
}
.ibtn-lightgrey:not(.btn-outline),
.ibtn-lightgrey.btn-outline:hover,
.ibtn-lightgrey.btn-outline:active {
    background-color: #ececec;
}

.btn.btn-outline {
    border: 1px solid transparent;
    background: transparent;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.btn.btn-outline:hover,
.btn.btn-outline:active {
    color: rgba(255,255,255,0.84);
}
.ibtn-default.btn-outline {
    border-color: rgba(56,56,56,1);
    color: rgba(0,0,0,.84);
}
.ibtn-primary.btn-outline {
    border-color: #4285f4;
    color: #4285f4;
}
.ibtn-success.btn-outline {
    border-color: #0f9d58;
    color: #0f9d58;
}
.ibtn-info.btn-outline {
    border-color: #03a9f4;
    color: #03a9f4;
}
.ibtn-warning.btn-outline {
    border-color: #ff5722;
    color: #ff5722;
}
.ibtn-danger.btn-outline {
    border-color: #f44336;
    color: #f44336;
}
.ibtn-red.btn-outline {
    border-color: #f44336;
    color: #f44336;
}
.ibtn-pink.btn-outline {
    border-color: #e91e63;
    color: #e91e63;
}
.ibtn-purple.btn-outline {
    border-color: #9c27b0;
    color: #9c27b0;
}
.ibtn-deeppurple.btn-outline {
    border-color: #673ab7;
    color: #673ab7;
}
.ibtn-indigo.btn-outline {
    border-color: #3f51b5;
    color: #3f51b5;
}
.ibtn-lightblue.btn-outline {
    border-color: #03a9f4;
    color: #03a9f4;
}
.ibtn-cyan.btn-outline {
    border-color: #00bcd4;
    color: #00bcd4;
}
.ibtn-teal.btn-outline {
    border-color: #009688;
    color: #009688;
}
.ibtn-lightgreen.btn-outline {
    border-color: #8bc34a;
    color: #8bc34a;
}
.ibtn-lime.btn-outline {
    border-color: #cddc39;
    color: #cddc39;
}
.ibtn-lightyellow.btn-outline {
    border-color: #ffeb3b;
    color: #ffeb3b;
}
.ibtn-orange.btn-outline {
    border-color: #ff9800;
    color: #ff9800;
}
.ibtn-deeporange.btn-outline {
    border-color: #ff5722;
    color: #ff5722;
}
.ibtn-grey.btn-outline {
    border-color: #9e9e9e;
    color: #9e9e9e;
}
.ibtn-bluegrey.btn-outline {
    border-color: #607d8b;
    color: #607d8b;
}
.ibtn-brown.btn-outline {
    border-color: #795548;
    color: #795548;
}
.ibtn-lightgrey.btn-outline {
    border-color: #ececec;
    color: #ececec;
}
.btn.btn-flat,
.btn.btn-flat:hover,
.btn.btn-flat:active {
    color: rgba(255, 255, 255, 0.84);
}
.btn.btn-flat {
    box-shadow: none;
    font-weight: 400;
}
.btn.btn-raised {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.btn.btn-raised:active {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

/* Breadcrumbs */
.breadcrumb > ul {
    font-size: 0.7222rem;
    line-height: 0.8889rem;
    margin: 0;
    padding: 0;
}

.breadcrumb > ul > li {
    display: inline-block;
}

.breadcrumb > ul > li:after {
    content: '›';
    display: inline-block;
}

.breadcrumb > ul > li:last-child:after {
    content: '';
    display: none;
}

.breadcrumb > ul > li > a {
    text-decoration: none;
}

.breadcrumb > ul > li > a:hover,
.breadcrumb > ul > li > a:active,
.breadcrumb > ul > li > a:focus {
    text-decoration: underline;
}

.breadcrumb > ul > li.active > a,
.breadcrumb > ul > li.active > a:hover,
.breadcrumb > ul > li.active > a:active,
.breadcrumb > ul > li.active > a:focus {
    color: #444;
    text-decoration: underline;
}


/* Feature Elements */
/* List Styles */
.unstyled,
.list-arrow,
.list-square-check-o {
    list-style: none;
}
.list-arrow > li:before {
    content: "\f061";
    font-family: FontAwesome;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    margin-right: 0.5556em;
}
.list-square-check-o > li:before {
    content: "\f046";
    font-family: FontAwesome;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    margin-right: 0.5556em;
}
.inline-list > li {
    display: inline;
}

/* Callout Styles */
.callout-section {}
.callout-simple {
    padding: 2rem 0;
    text-align: center;
}

/* List Group - Bootstrap Material Design */
.list-group {
    border-radius: 0;
}
.list-group .list-group-item {
    background-color: transparent;
    overflow: hidden;
    border: 0;
    border-radius: 0;
    padding: 0 16px;
}
.list-group .list-group-item .row-picture,
.list-group .list-group-item .row-action-primary {
    float: left;
    display: inline-block;
    padding-right: 16px;
}
.list-group .list-group-item .row-picture img,
.list-group .list-group-item .row-action-primary img,
.list-group .list-group-item .row-picture i,
.list-group .list-group-item .row-action-primary i,
.list-group .list-group-item .row-picture label,
.list-group .list-group-item .row-action-primary label {
    display: block;
    width: 56px;
    height: 56px;
}
.list-group .list-group-item .row-picture img,
.list-group .list-group-item .row-action-primary img {
    background: rgba(0, 0, 0, 0.1);
    padding: 1px;
}
.list-group .list-group-item .row-picture img.circle,
.list-group .list-group-item .row-action-primary img.circle {
    border-radius: 100%;
}
.list-group .list-group-item .row-picture i,
.list-group .list-group-item .row-action-primary i {
    background: rgba(0, 0, 0, 0.25);
    border-radius: 100%;
    text-align: center;
    line-height: 56px;
    font-size: 20px;
    color: white;
}
.list-group .list-group-item .row-picture label,
.list-group .list-group-item .row-action-primary label {
    margin-left: 7px;
    margin-right: -7px;
    margin-top: 5px;
    margin-bottom: -5px;
}
.list-group .list-group-item .row-content {
    display: inline-block;
    width: calc(100% - 92px);
    min-height: 66px;
}
.list-group .list-group-item .row-content .action-secondary {
    position: absolute;
    right: 16px;
    top: 16px;
}
.list-group .list-group-item .row-content .action-secondary i {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.list-group .list-group-item .row-content .action-secondary ~ * {
    max-width: calc(100% - 30px);
}
.list-group .list-group-item .row-content .least-content {
    position: absolute;
    right: 16px;
    top: 0px;
    color: rgba(0, 0, 0, 0.54);
    font-size: 14px;
}
.list-group .list-group-item .list-group-item-heading {
    color: rgba(0, 0, 0, 0.77);
    font-size: 20px;
    line-height: 29px;
}
.list-group .list-group-item.active:hover,
.list-group .list-group-item.active:focus {
    background: rgba(0, 0, 0, 0.15);
    outline: 10px solid rgba(0, 0, 0, 0.15);
}
.list-group .list-group-item.active .list-group-item-heading,
.list-group .list-group-item.active .list-group-item-text {
    color: rgba(0, 0, 0, 0.84);
}
.list-group .list-group-separator {
    clear: both;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
}
.list-group .list-group-separator:before {
    content: "";
    width: calc(100% - 90px);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    float: right;
}

/* Call-to-Action Sections */


/* Icon Blocks */
.icon-text-block {}

.icon-block-right {
}

.icon-block-right > i {
    display: block;
    float: left;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    background: transparent;
    border-radius: 2px;
    margin-right: 18px;
}

.block-text {
    margin-left: 15%;
}

.block-text > p {
    font-size: 80%;
    margin: auto auto 16px;
}

/* Cards & Tiles Style */
.card-panel {
    padding: 1rem;
    margin: 8px 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-clip: padding-box;
}

.card {
    background-color: #fff;
    margin-top: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-clip: padding-box;
}
.card span.card-title {
    color: inherit;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Playfair Display', serif;
}
.card.small {
    height: 300px;
    position: relative;
}
.card.small .card-image {
    overflow: hidden;
    height: 150px;
}
.card.small .card-content {
    overflow: hidden;
    height: 150px;
}
.card.small .card-action {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.card .card-image {
    position: relative;
    overflow: hidden;
}
.card .card-image img {
    -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0;
    background-clip: padding-box;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    //z-index: -1;
}
.card .card-image span.card-title {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 16px;
}
.card .card-content {
    padding: 16px;
    -webkit-border-radius: 0 0 2px 2px;
    -moz-border-radius: 0 0 2px 2px;
    border-radius: 0 0 2px 2px;
    background-clip: padding-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.card .card-content p {
    margin: 0;
    color: inherit;
    font-size: 15px;
    line-height: 1.5;
    font-weight: 400;
}
.card .card-content span.card-title {
    line-height: 48px;
}
.card .card-action {
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 16px;
}
.card .card-action a:not(.btn) {
    color: #ffab40;
    margin-right: 16px;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    transition: color 0.3s ease;
    text-transform: uppercase;
}
.card .card-action a:not(.btn):hover {
    color: #ffd8a6;
}
.card .card-action a[class*="ibtn-"] {
    margin: 0;
}

.card-panel, .card {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card-2 {
    padding: 35px 25px 40px 25px;
    position: relative;
    text-align: center;
    border: 1px solid transparent;
    background-color: #eee;
}
.card-2 h4 {
    color: white;
    margin-top: 0.8889rem;
    margin-bottom: 2px;
}
.card-2 p {
    color: white;
    text-transform: uppercase;
    margin-bottom: 1em;
}
.card, .card-2 {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}


/* Solutions Page */
.modal-footer .btn {
    margin-bottom: 0;
}
.sol-training {
    background: #e9eaed;
}

.sol-training .media {
    background: #fff;
    border-bottom: solid 1px #c7c9c8;
    border-radius: 3px;
    margin-bottom: 1.667rem;
}

.sol-training .media a {
    overflow: hidden;
}

.sol-training .media-img {
    overflow: hidden;
    position: relative;
    padding: 0;
}

.sol-training .media-img .img-overlay {
    background: #363635;
    background: rgba(0,0,0, 0.4);
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: 50%;
    text-align: center;
    z-index: 4;
    -webkit-transition: opacity 0.3s ease-out;  /* Chrome 1-25, Safari 3.2+ */
    -moz-transition: opacity 0.3s ease-out;  /* Firefox 4-15 */
    -o-transition: opacity 0.3s ease-out;  /* Opera 10.50–12.00 */
    transition: opacity 0.3s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
    opacity: 0;
    visibility: hidden;
}

.lt-ie9 .sol-training .media-img .img-overlay {
    filter: alpha(opacity=70);
}

.sol-training .media .img-overlay a {
    display: none;
    position: relative;
    margin-top: -24px;
}

.sol-training .media:hover .img-overlay a, 
.sol-training .media .img-overlay:hover a {
    display: inline-block;
}

.sol-training .media .img-overlay h3 {
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 25px;
    font-size: 18px;
    margin-top: -40px;
}

.sol-training .media:hover .img-overlay,
.sol-training .media .media-img:hover .img-overlay {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 0.3s ease-out;  /* Chrome 1-25, Safari 3.2+ */
    -moz-transition: opacity 0.3s ease-out;  /* Firefox 4-15 */
    -o-transition: opacity 0.3s ease-out;  /* Opera 10.50–12.00 */
    transition: opacity 0.3s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}

.sol-training .media p {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 0;
}

.sol-training .media a:hover {
    text-decoration: none;
}

.sol-training .media-body {
    padding: 20px 30px 10px 35px;
}

.sol-training .media div.pull-left {
    overflow: hidden;
    margin-right: -15px;
    margin-left: 14px;
}

.sol-training .media div.media-img img {
    -webkit-transform: scale(1, 1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 2000ms;
    -moz-transform: scale(1, 1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 2000ms;
    transform: scale(1, 1);
    transition-timing-function: ease-out;
    transition-duration: 2000ms;
    width: 100%;
    height: auto;
}

.sol-training .media:hover div.media-img img {
    -webkit-transform: scale(1.15, 1.15);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 1500ms;
    -moz-transform: scale(1.15, 1.15);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 1500ms;
    transform: scale(1.15, 1.15);
    transition-timing-function: ease-out;
    transition-duration: 1500ms;
    position: relative;
    z-index: 3;
}

.sol-training .media-img img {
    width: 120px;
}

/* Training Pages */
/* Career Page */
section.job-section {
    margin: 40px 0;
}
.job-section .label {
    padding: 0;
    color: inherit;
    font-weight: bold;
    font-size: 19px;
}
.job-content p {
    margin-bottom: 10px;
}
.job-content p,
.job-content ul {
    font-size: 14px;    
}

/* Contact Page */
#gmap {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    background-color: #eeeeee;
}

section.gmap {
    z-index: -1;
    background-color: transparent;
}

.contact-info-section {
    background-color: #e6e6e6;
    padding: 2.25rem 0;
    margin: 0;
    color: #020202;
}

.contact-info-section .icon-block-right > i {
    background-color: rgba(204,207,255,0.1);
}

.contact-info-section .block-text > h6 {
    font-weight: 400;
    text-transform: uppercase;
}

.contact-info-section .block-text > p {
    line-height: 21px;
}

.contact-info-section .block-text > h6 {
    color: #222;
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

/* Contact Form - Contact Us Page */
.contact-form .form-control {
    box-shadow: none;
    font-size: 1em;
    border-radius: 0;
}

.contact-form input,
.contact-form textarea {
    padding: 5px;
    background-color:transparent;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid transparent;
    margin-bottom:15px;
}

.contact-form textarea {
    background-color:transparent;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid transparent;

}

.contact-form textarea:focus,
.contact-form input:focus {
    background-color:#eee;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-bottom: 1px solid #444;
    border-right: 1px solid transparent;

}

.contact-form label.error {
    font-family: 'Roboto Slab', serif;
    color: #ff0000;
    font-size: 16px;
}

/* Blockquotes Styling */
blockquote.quote-default {
    font-family: 'Playfair Display', serif;
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}
blockquote.quote-default:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
blockquote.quote-default p {
    display: inline;
}

/* IR Value Divs */
.ir-val-wrapper {
    display: block;
    box-sizing: border-box;
    overflow: hidden;
    margin: 0 auto;
}
.ir-val {
    display: inline-block;
    min-width: 20%;
    width: 20%;
    background: #eee;
    height: auto;
    float: left;
    overflow: visible;
}
/* Various Helper Classes */
/* Match Height */
.match-height {
    min-height: inherit;
}
/* Opacity */
.opacity-9 {
    opacity: 0.9;
    filter: alpha(opacity=90); /* For IE8 and earlier */
}
.opacity-8 {
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}
.opacity-7 {
    opacity: 0.7;
    filter: alpha(opacity=70); /* For IE8 and earlier */
}
.opacity-6 {
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}
.opacity-5 {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}
.opacity-4 {
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}
.opacity-3 {
    opacity: 0.3;
    filter: alpha(opacity=30); /* For IE8 and earlier */
}
.opacity-2 {
    opacity: 0.2;
    filter: alpha(opacity=20); /* For IE8 and earlier */
}
.opacity-1 {
    opacity: 0.1;
    filter: alpha(opacity=10); /* For IE8 and earlier */
}

/* Margins */
.no-margin {
    margin: 0;
}
.no-margin-bottom {
    margin-bottom: 0;
}
.no-margin-top {
    margin-top: 0;
}
.margin-topbottom {
    margin: 6rem 0;
}
.margin-top {
    margin-top: 6rem;
}
.margin-bottom {
    margin-bottom: 6rem;
}

/* Color Backgrounds and Text Colors */
.no-background {
    background-color: transparent;
}
.red {
    background-color: #e51c23;
}
.red.lighten-1 {
    background-color: #ea454b;
}
.red.lighten-2 {
    background-color: #ee6e73;
}
.red.lighten-3 {
    background-color: #f3989b;
}
.red.lighten-4 {
    background-color: #f8c1c3;
}
.red.lighten-5 {
    background-color: #fdeaeb;
}
.red.darken-1 {
    background-color: #d0181e;
}
.red.darken-2 {
    background-color: #b9151b;
}
.red.darken-3 {
    background-color: #a21318;
}
.red.darken-4 {
    background-color: #8b1014;
}
.red.darken-5 {
    background-color: #740d11;
}

.red-text {
    color: #e51c23;
}
.red-text.lighten-1 {
    color: #ea454b;
}
.red-text.lighten-2 {
    color: #ee6e73;
}
.red-text.lighten-3 {
    color: #f3989b;
}
.red-text.lighten-4, ul.tabs li.tab a:hover {
    color: #f8c1c3;
}
.red-text.lighten-5 {
    color: #fdeaeb;
}
.red-text.darken-1 {
    color: #d0181e;
}
.red-text.darken-2 {
    color: #b9151b;
}
.red-text.darken-3 {
    color: #a21318;
}
.red-text.darken-4 {
    color: #8b1014;
}
.red-text.darken-5 {
    color: #740d11;
}

.pink {
    background-color: #e91e63;
}
.pink.lighten-1 {
    background-color: #ed4880;
}
.pink.lighten-2 {
    background-color: #f1729d;
}
.pink.lighten-3 {
    background-color: #f59bba;
}
.pink.lighten-4 {
    background-color: #f9c5d7;
}
.pink.lighten-5 {
    background-color: #fdeff4;
}
.pink.darken-1 {
    background-color: #d81557;
}
.pink.darken-2 {
    background-color: #c1134e;
}
.pink.darken-3 {
    background-color: #aa1145;
}
.pink.darken-4 {
    background-color: #930e3b;
}
.pink.darken-5 {
    background-color: #7b0c32;
}

.pink-text {
    color: #e91e63;
}
.pink-text.lighten-1 {
    color: #ed4880;
}
.pink-text.lighten-2 {
    color: #f1729d;
}
.pink-text.lighten-3 {
    color: #f59bba;
}
.pink-text.lighten-4 {
    color: #f9c5d7;
}
.pink-text.lighten-5 {
    color: #fdeff4;
}
.pink-text.darken-1 {
    color: #d81557;
}
.pink-text.darken-2 {
    color: #c1134e;
}
.pink-text.darken-3 {
    color: #aa1145;
}
.pink-text.darken-4 {
    color: #930e3b;
}
.pink-text.darken-5 {
    color: #7b0c32;
}

.purple {
    background-color: #9c27b0;
}
.purple.lighten-1 {
    background-color: #bb33d2;
}
.purple.lighten-2 {
    background-color: #c759da;
}
.purple.lighten-3 {
    background-color: #d47ee2;
}
.purple.lighten-4 {
    background-color: #e0a4eb;
}
.purple.lighten-5 {
    background-color: #edc9f3;
}
.purple.darken-1 {
    background-color: #89229b;
}
.purple.darken-2 {
    background-color: #771e86;
}
.purple.darken-3 {
    background-color: #641971;
}
.purple.darken-4 {
    background-color: #52145d;
}
.purple.darken-5 {
    background-color: #3f1048;
}

.purple-text {
    color: #9c27b0;
}
.purple-text.lighten-1 {
    color: #bb33d2;
}
.purple-text.lighten-2 {
    color: #c759da;
}
.purple-text.lighten-3 {
    color: #d47ee2;
}
.purple-text.lighten-4 {
    color: #e0a4eb;
}
.purple-text.lighten-5 {
    color: #edc9f3;
}
.purple-text.darken-1 {
    color: #89229b;
}
.purple-text.darken-2 {
    color: #771e86;
}
.purple-text.darken-3 {
    color: #641971;
}
.purple-text.darken-4 {
    color: #52145d;
}
.purple-text.darken-5 {
    color: #3f1048;
}

.deep-purple {
    background-color: #673ab7;
}
.deep-purple.lighten-1 {
    background-color: #7f56c9;
}
.deep-purple.lighten-2 {
    background-color: #9a78d4;
}
.deep-purple.lighten-3 {
    background-color: #b49bdf;
}
.deep-purple.lighten-4 {
    background-color: #cebeea;
}
.deep-purple.lighten-5 {
    background-color: #e8e1f5;
}
.deep-purple.darken-1 {
    background-color: #5c34a4;
}
.deep-purple.darken-2 {
    background-color: #512e90;
}
.deep-purple.darken-3 {
    background-color: #46287d;
}
.deep-purple.darken-4 {
    background-color: #3b216a;
}
.deep-purple.darken-5 {
    background-color: #311b56;
}

.deep-purple-text {
    color: #673ab7;
}
.deep-purple-text.lighten-1 {
    color: #7f56c9;
}
.deep-purple-text.lighten-2 {
    color: #9a78d4;
}
.deep-purple-text.lighten-3 {
    color: #b49bdf;
}
.deep-purple-text.lighten-4 {
    color: #cebeea;
}
.deep-purple-text.lighten-5 {
    color: #e8e1f5;
}
.deep-purple-text.darken-1 {
    color: #5c34a4;
}
.deep-purple-text.darken-2 {
    color: #512e90;
}
.deep-purple-text.darken-3 {
    color: #46287d;
}
.deep-purple-text.darken-4 {
    color: #3b216a;
}
.deep-purple-text.darken-5 {
    color: #311b56;
}

.indigo {
    background-color: #3f51b5;
}
.indigo.lighten-1 {
    background-color: #5c6cc6;
}
.indigo.lighten-2 {
    background-color: #7e8bd2;
}
.indigo.lighten-3 {
    background-color: #a0a9de;
}
.indigo.lighten-4 {
    background-color: #c2c8ea;
}
.indigo.lighten-5 {
    background-color: #e4e7f6;
}
.indigo.darken-1 {
    background-color: #3849a2;
}
.indigo.darken-2 {
    background-color: #32408f;
}
.indigo.darken-3 {
    background-color: #2b387c;
}
.indigo.darken-4 {
    background-color: #252f69;
}
.indigo.darken-5 {
    background-color: #1e2756;
}

.indigo-text {
    color: #3f51b5;
}
.indigo-text.lighten-1 {
    color: #5c6cc6;
}
.indigo-text.lighten-2 {
    color: #7e8bd2;
}
.indigo-text.lighten-3 {
    color: #a0a9de;
}
.indigo-text.lighten-4 {
    color: #c2c8ea;
}
.indigo-text.lighten-5 {
    color: #e4e7f6;
}
.indigo-text.darken-1 {
    color: #3849a2;
}
.indigo-text.darken-2 {
    color: #32408f;
}
.indigo-text.darken-3 {
    color: #2b387c;
}
.indigo-text.darken-4 {
    color: #252f69;
}
.indigo-text.darken-5 {
    color: #1e2756;
}

.blue {
    background-color: #5677fc;
}
.blue.lighten-1 {
    background-color: #748ffd;
}
.blue.lighten-2 {
    background-color: #92a7fd;
}
.blue.lighten-3 {
    background-color: #b0c0fe;
}
.blue.lighten-4 {
    background-color: #ced8fe;
}
.blue.lighten-5 {
    background-color: #ecf0ff;
}
.blue.darken-1 {
    background-color: #3d63fc;
}
.blue.darken-2 {
    background-color: #244ffb;
}
.blue.darken-3 {
    background-color: #0b3bfb;
}
.blue.darken-4 {
    background-color: #0431e8;
}
.blue.darken-5 {
    background-color: #042ccf;
}

.blue-text {
    color: #5677fc;
}
.blue-text.lighten-1 {
    color: #748ffd;
}
.blue-text.lighten-2 {
    color: #92a7fd;
}
.blue-text.lighten-3 {
    color: #b0c0fe;
}
.blue-text.lighten-4 {
    color: #ced8fe;
}
.blue-text.lighten-5 {
    color: #ecf0ff;
}
.blue-text.darken-1 {
    color: #3d63fc;
}
.blue-text.darken-2 {
    color: #244ffb;
}
.blue-text.darken-3 {
    color: #0b3bfb;
}
.blue-text.darken-4 {
    color: #0431e8;
}
.blue-text.darken-5 {
    color: #042ccf;
}

.light-blue {
    background-color: #03a9f4;
}
.light-blue.lighten-1 {
    background-color: #29bafc;
}
.light-blue.lighten-2 {
    background-color: #56c9fd;
}
.light-blue.lighten-3 {
    background-color: #83d7fd;
}
.light-blue.lighten-4 {
    background-color: #b1e6fe;
}
.light-blue.lighten-5 {
    background-color: #def4ff;
}
.light-blue.darken-1 {
    background-color: #0398db;
}
.light-blue.darken-2 {
    background-color: #0286c2;
}
.light-blue.darken-3 {
    background-color: #0275a8;
}
.light-blue.darken-4 {
    background-color: #02638f;
}
.light-blue.darken-5 {
    background-color: #015276;
}

.light-blue-text {
    color: #03a9f4;
}
.light-blue-text.lighten-1 {
    color: #29bafc;
}
.light-blue-text.lighten-2 {
    color: #56c9fd;
}
.light-blue-text.lighten-3 {
    color: #83d7fd;
}
.light-blue-text.lighten-4 {
    color: #b1e6fe;
}
.light-blue-text.lighten-5 {
    color: #def4ff;
}
.light-blue-text.darken-1, a {
    color: #0398db;
}
.light-blue-text.darken-2 {
    color: #0286c2;
}
.light-blue-text.darken-3 {
    color: #0275a8;
}
.light-blue-text.darken-4 {
    color: #02638f;
}
.light-blue-text.darken-5 {
    color: #015276;
}

.cyan {
    background-color: #00bcd4;
}
.cyan.lighten-1 {
    background-color: #03e2ff;
}
.cyan.lighten-2 {
    background-color: #31e8ff;
}
.cyan.lighten-3 {
    background-color: #5fedff;
}
.cyan.lighten-4 {
    background-color: #8df2ff;
}
.cyan.lighten-5 {
    background-color: #baf7ff;
}
.cyan.darken-1 {
    background-color: #00a5bb;
}
.cyan.darken-2 {
    background-color: #008fa1;
}
.cyan.darken-3 {
    background-color: #007888;
}
.cyan.darken-4 {
    background-color: #00626e;
}
.cyan.darken-5 {
    background-color: #004b55;
}

.cyan-text {
    color: #00bcd4;
}
.cyan-text.lighten-1 {
    color: #03e2ff;
}
.cyan-text.lighten-2 {
    color: #31e8ff;
}
.cyan-text.lighten-3 {
    color: #5fedff;
}
.cyan-text.lighten-4 {
    color: #8df2ff;
}
.cyan-text.lighten-5 {
    color: #baf7ff;
}
.cyan-text.darken-1 {
    color: #00a5bb;
}
.cyan-text.darken-2 {
    color: #008fa1;
}
.cyan-text.darken-3 {
    color: #007888;
}
.cyan-text.darken-4 {
    color: #00626e;
}
.cyan-text.darken-5 {
    color: #004b55;
}

.teal {
    background-color: #009688;
}
.teal.lighten-1 {
    background-color: #00d3bf;
}
.teal.lighten-2 {
    background-color: #11ffe9;
}
.teal.lighten-3 {
    background-color: #4fffef;
}
.teal.lighten-4 {
    background-color: #8cfff4;
}
.teal.lighten-5 {
    background-color: #c9fffa;
}
.teal.darken-1 {
    background-color: #007d71;
}
.teal.darken-2 {
    background-color: #00635a;
}
.teal.darken-3 {
    background-color: #004a43;
}
.teal.darken-4 {
    background-color: #00302c;
}
.teal.darken-5 {
    background-color: #001714;
}

.teal-text {
    color: #009688;
}
.teal-text.lighten-1 {
    color: #00d3bf;
}
.teal-text.lighten-2 {
    color: #11ffe9;
}
.teal-text.lighten-3 {
    color: #4fffef;
}
.teal-text.lighten-4 {
    color: #8cfff4;
}
.teal-text.lighten-5 {
    color: #c9fffa;
}
.teal-text.darken-1 {
    color: #007d71;
}
.teal-text.darken-2 {
    color: #00635a;
}
.teal-text.darken-3 {
    color: #004a43;
}
.teal-text.darken-4 {
    color: #00302c;
}
.teal-text.darken-5 {
    color: #001714;
}

.green {
    background-color: #259b24;
}
.green.lighten-1 {
    background-color: #2ec02d;
}
.green.lighten-2 {
    background-color: #48d447;
}
.green.lighten-3 {
    background-color: #6ddd6c;
}
.green.lighten-4 {
    background-color: #92e591;
}
.green.lighten-5 {
    background-color: #b7eeb6;
}
.green.darken-1 {
    background-color: #20861f;
}
.green.darken-2 {
    background-color: #1b721a;
}
.green.darken-3 {
    background-color: #165d16;
}
.green.darken-4 {
    background-color: #114811;
}
.green.darken-5 {
    background-color: #0c340c;
}

.green-text {
    color: #259b24;
}
.green-text.lighten-1 {
    color: #2ec02d;
}
.green-text.lighten-2 {
    color: #48d447;
}
.green-text.lighten-3 {
    color: #6ddd6c;
}
.green-text.lighten-4 {
    color: #92e591;
}
.green-text.lighten-5 {
    color: #b7eeb6;
}
.green-text.darken-1 {
    color: #20861f;
}
.green-text.darken-2 {
    color: #1b721a;
}
.green-text.darken-3 {
    color: #165d16;
}
.green-text.darken-4 {
    color: #114811;
}
.green-text.darken-5 {
    color: #0c340c;
}

.light-green {
    background-color: #8bc34a;
}
.light-green.lighten-1 {
    background-color: #a1ce6c;
}
.light-green.lighten-2 {
    background-color: #b7da8f;
}
.light-green.lighten-3 {
    background-color: #cde5b1;
}
.light-green.lighten-4 {
    background-color: #e3f1d4;
}
.light-green.lighten-5 {
    background-color: #f9fcf6;
}
.light-green.darken-1 {
    background-color: #7eb73d;
}
.light-green.darken-2 {
    background-color: #71a436;
}
.light-green.darken-3 {
    background-color: #649130;
}
.light-green.darken-4 {
    background-color: #577d2a;
}
.light-green.darken-5 {
    background-color: #496a23;
}

.light-green-text {
    color: #8bc34a;
}
.light-green-text.lighten-1 {
    color: #a1ce6c;
}
.light-green-text.lighten-2 {
    color: #b7da8f;
}
.light-green-text.lighten-3 {
    color: #cde5b1;
}
.light-green-text.lighten-4 {
    color: #e3f1d4;
}
.light-green-text.lighten-5 {
    color: #f9fcf6;
}
.light-green-text.darken-1 {
    color: #7eb73d;
}
.light-green-text.darken-2 {
    color: #71a436;
}
.light-green-text.darken-3 {
    color: #649130;
}
.light-green-text.darken-4 {
    color: #577d2a;
}
.light-green-text.darken-5 {
    color: #496a23;
}

.lime {
    background-color: #cddc39;
}
.lime.lighten-1 {
    background-color: #d7e360;
}
.lime.lighten-2 {
    background-color: #e1ea87;
}
.lime.lighten-3 {
    background-color: #ebf1ae;
}
.lime.lighten-4 {
    background-color: #f4f8d5;
}
.lime.lighten-5 {
    background-color: #fefefc;
}
.lime.darken-1 {
    background-color: #c6d626;
}
.lime.darken-2 {
    background-color: #b2c022;
}
.lime.darken-3 {
    background-color: #9daa1e;
}
.lime.darken-4 {
    background-color: #89951a;
}
.lime.darken-5 {
    background-color: #757f16;
}

.lime-text {
    color: #cddc39;
}
.lime-text.lighten-1 {
    color: #d7e360;
}
.lime-text.lighten-2 {
    color: #e1ea87;
}
.lime-text.lighten-3 {
    color: #ebf1ae;
}
.lime-text.lighten-4 {
    color: #f4f8d5;
}
.lime-text.lighten-5 {
    color: #fefefc;
}
.lime-text.darken-1 {
    color: #c6d626;
}
.lime-text.darken-2 {
    color: #b2c022;
}
.lime-text.darken-3 {
    color: #9daa1e;
}
.lime-text.darken-4 {
    color: #89951a;
}
.lime-text.darken-5 {
    color: #757f16;
}

.yellow {
    background-color: #ffeb3b;
}
.yellow.lighten-1 {
    background-color: #ffef5f;
}
.yellow.lighten-2 {
    background-color: #fff282;
}
.yellow.lighten-3 {
    background-color: #fff6a6;
}
.yellow.lighten-4 {
    background-color: #fffaca;
}
.yellow.lighten-5 {
    background-color: #fffded;
}
.yellow.darken-1 {
    background-color: #ffe821;
}
.yellow.darken-2 {
    background-color: #ffe608;
}
.yellow.darken-3 {
    background-color: #eed500;
}
.yellow.darken-4 {
    background-color: #d4be00;
}
.yellow.darken-5 {
    background-color: #bba700;
}

.yellow-text {
    color: #ffeb3b;
}
.yellow-text.lighten-1 {
    color: #ffef5f;
}
.yellow-text.lighten-2 {
    color: #fff282;
}
.yellow-text.lighten-3 {
    color: #fff6a6;
}
.yellow-text.lighten-4 {
    color: #fffaca;
}
.yellow-text.lighten-5 {
    color: #fffded;
}
.yellow-text.darken-1 {
    color: #ffe821;
}
.yellow-text.darken-2 {
    color: #ffe608;
}
.yellow-text.darken-3 {
    color: #eed500;
}
.yellow-text.darken-4 {
    color: #d4be00;
}
.yellow-text.darken-5 {
    color: #bba700;
}

.amber {
    background-color: #ffc107;
}
.amber.lighten-1 {
    background-color: #ffcc35;
}
.amber.lighten-2 {
    background-color: #ffd863;
}
.amber.lighten-3 {
    background-color: #ffe391;
}
.amber.lighten-4 {
    background-color: #ffefbf;
}
.amber.lighten-5 {
    background-color: #fffaed;
}
.amber.darken-1 {
    background-color: #ecb100;
}
.amber.darken-2 {
    background-color: #d39e00;
}
.amber.darken-3 {
    background-color: #b98b00;
}
.amber.darken-4 {
    background-color: #a07800;
}
.amber.darken-5 {
    background-color: #866500;
}

.amber-text {
    color: #ffc107;
}
.amber-text.lighten-1 {
    color: #ffcc35;
}
.amber-text.lighten-2 {
    color: #ffd863;
}
.amber-text.lighten-3 {
    color: #ffe391;
}
.amber-text.lighten-4 {
    color: #ffefbf;
}
.amber-text.lighten-5 {
    color: #fffaed;
}
.amber-text.darken-1 {
    color: #ecb100;
}
.amber-text.darken-2 {
    color: #d39e00;
}
.amber-text.darken-3 {
    color: #b98b00;
}
.amber-text.darken-4 {
    color: #a07800;
}
.amber-text.darken-5 {
    color: #866500;
}

.orange {
    background-color: #ff9800;
}
.orange.lighten-1 {
    background-color: #ffab2e;
}
.orange.lighten-2 {
    background-color: #ffbd5c;
}
.orange.lighten-3 {
    background-color: #ffd08a;
}
.orange.lighten-4 {
    background-color: #ffe2b8;
}
.orange.lighten-5 {
    background-color: #fff5e5;
}
.orange.darken-1 {
    background-color: #e68900;
}
.orange.darken-2 {
    background-color: #cc7a00;
}
.orange.darken-3 {
    background-color: #b36a00;
}
.orange.darken-4 {
    background-color: #995b00;
}
.orange.darken-5 {
    background-color: #804c00;
}

.orange-text {
    color: #ff9800;
}
.orange-text.lighten-1 {
    color: #ffab2e;
}
.orange-text.lighten-2 {
    color: #ffbd5c;
}
.orange-text.lighten-3 {
    color: #ffd08a;
}
.orange-text.lighten-4 {
    color: #ffe2b8;
}
.orange-text.lighten-5 {
    color: #fff5e5;
}
.orange-text.darken-1 {
    color: #e68900;
}
.orange-text.darken-2 {
    color: #cc7a00;
}
.orange-text.darken-3 {
    color: #b36a00;
}
.orange-text.darken-4 {
    color: #995b00;
}
.orange-text.darken-5 {
    color: #804c00;
}

.deep-orange {
    background-color: #ff5722;
}
.deep-orange.lighten-1 {
    background-color: #ff7a50;
}
.deep-orange.lighten-2 {
    background-color: #ff9d7e;
}
.deep-orange.lighten-3 {
    background-color: #ffc0ac;
}
.deep-orange.lighten-4 {
    background-color: #ffe3da;
}
.deep-orange.lighten-5 {
    background-color: white;
}
.deep-orange.darken-1 {
    background-color: #ff4408;
}
.deep-orange.darken-2 {
    background-color: #ee3900;
}
.deep-orange.darken-3 {
    background-color: #d43300;
}
.deep-orange.darken-4 {
    background-color: #bb2d00;
}
.deep-orange.darken-5 {
    background-color: #a22700;
}

.deep-orange-text {
    color: #ff5722;
}
.deep-orange-text.lighten-1 {
    color: #ff7a50;
}
.deep-orange-text.lighten-2 {
    color: #ff9d7e;
}
.deep-orange-text.lighten-3 {
    color: #ffc0ac;
}
.deep-orange-text.lighten-4 {
    color: #ffe3da;
}
.deep-orange-text.lighten-5 {
    color: white;
}
.deep-orange-text.darken-1 {
    color: #ff4408;
}
.deep-orange-text.darken-2 {
    color: #ee3900;
}
.deep-orange-text.darken-3 {
    color: #d43300;
}
.deep-orange-text.darken-4 {
    color: #bb2d00;
}
.deep-orange-text.darken-5 {
    color: #a22700;
}

.brown {
    background-color: #795548;
}
.brown.lighten-1 {
    background-color: #966959;
}
.brown.lighten-2 {
    background-color: #ab8172;
}
.brown.lighten-3 {
    background-color: #bc9b8f;
}
.brown.lighten-4 {
    background-color: #cdb4ab;
}
.brown.lighten-5 {
    background-color: #decec8;
}
.brown.darken-1 {
    background-color: #694a3e;
}
.brown.darken-2 {
    background-color: #593f35;
}
.brown.darken-3 {
    background-color: #49332b;
}
.brown.darken-4 {
    background-color: #392822;
}
.brown.darken-5 {
    background-color: #291d18;
}

.brown-text {
    color: #795548;
}
.brown-text.lighten-1 {
    color: #966959;
}
.brown-text.lighten-2 {
    color: #ab8172;
}
.brown-text.lighten-3 {
    color: #bc9b8f;
}
.brown-text.lighten-4 {
    color: #cdb4ab;
}
.brown-text.lighten-5 {
    color: #decec8;
}
.brown-text.darken-1 {
    color: #694a3e;
}
.brown-text.darken-2 {
    color: #593f35;
}
.brown-text.darken-3 {
    color: #49332b;
}
.brown-text.darken-4 {
    color: #392822;
}
.brown-text.darken-5 {
    color: #291d18;
}

.grey {
    background-color: #9e9e9e;
}
.grey.lighten-1 {
    background-color: #b5b5b5;
}
.grey.lighten-2 {
    background-color: #cccccc;
}
.grey.lighten-3 {
    background-color: #e3e3e3;
}
.grey.lighten-4 {
    background-color: #fafafa;
}
.grey.lighten-5 {
    background-color: white;
}
.grey.darken-1 {
    background-color: #878787;
}
.grey.darken-2 {
    background-color: #707070;
}
.grey.darken-3 {
    background-color: #595959;
}
.grey.darken-4 {
    background-color: #424242;
}
.grey.darken-5 {
    background-color: #2b2b2b;
}

.grey-text {
    color: #9e9e9e;
}
.grey-text.lighten-1 {
    color: #b5b5b5;
}
.grey-text.lighten-2 {
    color: #cccccc;
}
.grey-text.lighten-3 {
    color: #e3e3e3;
}
.grey-text.lighten-4 {
    color: #fafafa;
}
.grey-text.lighten-5 {
    color: white;
}
.grey-text.darken-1 {
    color: #878787;
}
.grey-text.darken-2 {
    color: #707070;
}
.grey-text.darken-3 {
    color: #595959;
}
.grey-text.darken-4 {
    color: #424242;
}
.grey-text.darken-5 {
    color: #2b2b2b;
}

.blue-grey {
    background-color: #607d8b;
}
.blue-grey.lighten-1 {
    background-color: #7794a1;
}
.blue-grey.lighten-2 {
    background-color: #93a9b4;
}
.blue-grey.lighten-3 {
    background-color: #aebfc7;
}
.blue-grey.lighten-4 {
    background-color: #c9d4da;
}
.blue-grey.lighten-5 {
    background-color: #e4eaec;
}
.blue-grey.darken-1 {
    background-color: #566f7c;
}
.blue-grey.darken-2 {
    background-color: #4b626d;
}
.blue-grey.darken-3 {
    background-color: #41545e;
}
.blue-grey.darken-4 {
    background-color: #36474f;
}
.blue-grey.darken-5 {
    background-color: #2c3940;
}

.blue-grey-text {
    color: #607d8b;
}
.blue-grey-text.lighten-1 {
    color: #7794a1;
}
.blue-grey-text.lighten-2 {
    color: #93a9b4;
}
.blue-grey-text.lighten-3 {
    color: #aebfc7;
}
.blue-grey-text.lighten-4 {
    color: #c9d4da;
}
.blue-grey-text.lighten-5 {
    color: #e4eaec;
}
.blue-grey-text.darken-1 {
    color: #566f7c;
}
.blue-grey-text.darken-2 {
    color: #4b626d;
}
.blue-grey-text.darken-3 {
    color: #41545e;
}
.blue-grey-text.darken-4 {
    color: #36474f;
}
.blue-grey-text.darken-5 {
    color: #2c3940;
}

.white {
    background-color: #fff;
}

.white-text {
    color: #fff;
}


/* Page Header & Section Background Colors */
.bg-purple {
    //background-color: #9289ca;
    background-color: #ada5d7;
}

.bg-cyan-light {
    background-color: #ebffff;
}

.bg-blue {
    background-color: #5bc0de;
}

/* Horizontal Dividers */

hr.hr-faded {
    clear: both; 
    float: none; 
    width: 100%; 
    height: 1px;
    margin: 1.4em 0;
    border: none; 
    background: #ddd;
    background-image: -webkit-gradient(
        linear,
        left bottom,
        right bottom,
        color-stop(0, rgb(255,255,255)),
        color-stop(0.1, rgb(221,221,221)),
        color-stop(0.9, rgb(221,221,221)),
        color-stop(1, rgb(255,255,255))
        );
    background-image: -moz-linear-gradient(
        left center,
        rgb(255,255,255) 0%,
        rgb(221,221,221) 10%,
        rgb(221,221,221) 90%,
        rgb(255,255,255) 100%
        );
}
hr.hr-short {
    width: 50%;
    margin: 2em auto;
}
hr.hr-tall {
    margin-top: 3em;
    margin-bottom: 3em;
}

/* Borders */
.no-border {
    border: none;
}
.header-border {
    border-top: 5px solid #000;
}

/* Page Cover Sections */
.no-cover {
    margin-top: 6.667rem;
}
.no-cover-header {
    //min-height: 380px;
    overflow: hidden;
    font-size: 24px;
    text-align: left;
}
.no-cover-header .card {
    margin-top: 0;
}
.no-cover-header .card-footer {
    margin-bottom: 0;
}
.no-cover-header p {
    font-size: 24px;
}

@media only screen and (max-width: 500px){
	.panel-group {
    margin-top: 20px;
}
}
/* Alternate Font Style for Headings */
.raleway {
    font-family: 'Raleway', sans-serif;
}
.font-thin {
    font-weight: 300;
}
.font-normal {
    font-weight: 400;
}
.playfair {
    font-family: 'Playfair Display', sans-serif;
    font-weight: 400;
    font-style: italic;
}

.lead-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}

.text-small {
    font-size: 13px;
}

.inline {
    display: inline-block;
}
/* Responsive Classes */
/*==========  Mobile First Method  ==========*/
@media only screen and (max-width : 320px) {
    .logo-text {
        font-size: 100%;
        margin: 0;
    }
    .navbar-brand {
        padding-left: 0;
    }
}

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    .logo-text {
        font-size: 120%;
        margin: 0;
    }
    .navbar-brand {
        padding-left: 0;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    /*!
    TYPEPLATE
    URL ........... http://typeplate.com
    VERSION ....... 1.1.4
    Github ........ https://github.com/typeplate/bower
    AUTHORS ....... Dennis Gaebel (@gryghostvisuals) & Zachary Kain (@zakkain)
    LICENSE ....... Creative Commmons Attribution 3.0 (http://creativecommons.org/licenses/by/3.0)
    LICENSE URL ... https://github.com/typeplate/bower/blob/master/license.txt
    */


    /**
     *
     * =======================================================================
             Unicode Ampersand
     * =======================================================================
     */

    @font-face {
        font-family: "Ampersand";
        src: local("Georgia"), local("Garamond"), local("Palatino"), local("Book Antiqua");
        unicode-range: U+0026;
    }

    @font-face {
        font-family: "Ampersand";
        src: local("Georgia");
        unicode-range: U+270C;
    }


    /**
     *
     * Extend this class on any element of your
     * choice for ampersands.
     *
     * For example:
    
            <h6 class="ampersand">Dewey Cheat 'em & Howe</h6>
    
    */
    .ampersand {
        font-family: Ampersand, Verdana, sans-serif;
    }


    /**
     *
     * =======================================================================
             Word Wrap
     * =======================================================================
     */

    .breakword {
        word-wrap: break-word;
    }

    .normal-wrap {
        word-wrap: normal;
    }

    .inherit-wrap {
        word-wrap: auto;
    }


    /**
     *
     * =======================================================================
     * Drop Capitals:
     * Extend this object into your markup.
    
             <p class="drop-cap">What a wonderful day it is out there wouldn't you'd say?</p>
    
            * =======================================================================
     */

    .drop-cap:first-letter {
        float: left;
        margin: auto .25em auto auto;
        padding: inherit;
        font-size: 4em;
        font-family: inherit;
        line-height: 1;
        text-indent: 0;
        background: transparent;
        color: inherit;
    }

    p + .drop-cap {
        text-indent: 0;
        margin-top: 0;
    }


    /**
     *
     * =======================================================================
             Base Type
     * =======================================================================
     *
     */

    html {
        font: normal 112.5%/1.65 serif; /* base font size 18px with 1.65 line-height */
    }

    body {
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        -o-hyphens: auto;
        hyphens: auto;
        word-wrap: break-word;
    }


    /**
     *
     * =======================================================================
             Fine Print
     * =======================================================================
     */

    small {
        font-size: 65%;
    }


    /**
     *
     * =======================================================================
             Headings
     * =======================================================================
     */

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        line-height: 1;
        margin-top: 0;
        text-rendering: optimizeLegibility; /*  voodoo to enable ligatures and kerning | https://developer.mozilla.org/en-US/docs/CSS/text-rendering */
        color: #222222;
    }


    /**
    * Extend included classes on any element of your
    * choosing for adjusting type based on the scale
    * provided.
    
    * For example:
    
     <h6 class="giga">Awesome Headline</h6>
     <p class="tera">a story about a dude</p>
    
    * Our Type Scale is as follows with px fallbacks
    * for IE 6-8 as they do not understand REM units.
    *
    * 18, 21, 24, 36, 48, 60, 72, 90, 117
    *
    *
    * Explanation:
    * margin-bottom = ( base font-size * base line-height ) / current font-size
    *
    * Makes sure that there's always one unit of measure's worth of space between shit
    * for headings. This is better than spacing using line-height because of the wrapping issue where we have
    * wrapping onto 2 lines with a high line-height.
     */

    .tera {
        font-size: 117px;
        font-size: 6.5rem; /* 117 / 18 = 6.5 */
        margin-bottom: 4.56923px;
        margin-bottom: 0.25385rem;
    }

    .giga {
        font-size: 90px;
        font-size: 5rem; /* 90 / 18 = 5 */
        margin-bottom: 5.94px;
        margin-bottom: 0.33rem;
    }

    .mega {
        font-size: 72px;
        font-size: 4rem; /* 72 / 18 = 4 */
        margin-bottom: 7.425px;
        margin-bottom: 0.4125rem;
    }

    h1,
    .alpha {
        font-size: 60px;
        font-size: 3.33333rem; /* 60 / 18 = 3.3333 */
        margin-bottom: 8.91px;
        margin-bottom: 0.495rem;
    }

    h2,
    .beta {
        font-size: 37px;
       /* font-size: 2.6667rem;  48 / 18 = 2.6667 */
        margin-bottom: 11.1375px;
        margin-bottom: 0.61875rem;
    }

    h3,
    .gamma {
        font-size: 36px;
        font-size: 2rem; /* 36 / 18 = 2 */
        margin-bottom: 14.85px;
        margin-bottom: 0.825rem;
    }

    h4,
    .delta {
        font-size: 24px;
        font-size: 1.3333333333333333rem; /* 24 / 18 = 1.3333 */
        margin-bottom: 22.275px;
        margin-bottom: 1.2375rem;
    }

    h5,
    .epsilon {
        font-size: 21px;
        font-size: 1.16667rem; /* 21 / 18 = 1.1667 */
        margin-bottom: 25.45714px;
        margin-bottom: 1.41429rem;
    }

    h6,
    .zeta {
        font-size: 18px;
        font-size: 1rem; /* 18 = 18 × 1 */
        margin-bottom: 29.7px;
        margin-bottom: 1.65rem;
    }


    /**
     *
     * =======================================================================
             Paragraphs and Indentation
     * =======================================================================
     */

    p {
        margin: auto auto 1.5em; /* bottom margin for paragraphs */
    }

    p + p {
        text-indent: 1.5em; /* indent subsequent paragraphs */
        margin-top: -1.5em; /* no top margin on subsequent paragraphs */
    }


    /**
     *
     * =======================================================================
             Hyphens
     * =======================================================================
     */

    abbr,
    acronym,
    blockquote,
    code,
    dir,
    kbd,
    listing,
    plaintext,
    q,
    samp,
    tt,
    var,
    xmp {
        /* Accepted values: [ none | manual | auto ] */ /* http://meyerweb.com/eric/thoughts/2012/12/17/where-to-avoid-css-hyphenation */
        -webkit-hyphens: none; /* Safari 5.1 thru 6, iOS 4.2 thru 6 */
        -moz-hyphens: none; /* Firefox 16 thru 20 */
        -ms-hyphens: none; /* IE10 */
        -o-hyphens: none; /* PRESTO...haha LOL */
        hyphens: none;	 /* W3C standard */
    }


    /**
     *
     * =======================================================================
             Code Blocks
     * =======================================================================
     */

    pre code {
        word-wrap: normal;
        white-space: -moz-pre-wrap;
        white-space: pre-wrap; /* http://css-tricks.com/almanac/properties/w/whitespace */
    }

    pre {
        white-space: pre;
    }

    code {
        white-space: pre;
        font-family: monospace;
    }


    /**
     *
     * =======================================================================
     * Abbreviations Markup
     * Extend this object into your markup
    
            <abbr title="hyper text markup language">HMTL</abbr>
    
     * Extend this object into your markup.
     * =======================================================================
     */

    abbr {
        font-variant: small-caps; /* https://developer.mozilla.org/en-US/docs/CSS/font-variant */
        font-weight: 600;
        text-transform: lowercase;
        color: #808080;
    }

    abbr[title]:hover {
        cursor: help; /* cursor changed to a question mark when it has a title */
    }


    /**
     *
     * =======================================================================
             Definition Lists
     * =======================================================================
     */

    /**
     * Lining Definition Style Markup
     *
            <dl class="lining">
                    <dt><b></b></dt>
                    <dd></dd>
            </dl>
     *
     * Extend this object into your markup.
     *
     */
    .lining dt,
    .lining dd {
        display: inline;
        margin: 0;
    }
    .lining dt + dt:before,
    .lining dd + dt:before {
        content: "\A";
        white-space: pre;
    }
    .lining dd + dd:before {
        content: ", ";
    }
    .lining dd:before {
        content: ": ";
        margin-left: -0.2em;
    }


    /**
     * Dictionary Definition Style Markup
     *
            <dl class="dictionary-style">
                    <dt><b></b></dt>
                            <dd></dd>
            </dl>
     *
     * Extend this object into your markup.
     *
     */
    .dictionary-style dt {
        display: inline;
        counter-reset: definitions;
    }
    .dictionary-style dt + dt:before {
        content: ", ";
        margin-left: -0.2em;
    }
    .dictionary-style dd {
        display: block;
        counter-increment: definitions;
    }
    .dictionary-style dd:before {
        content: counter(definitions, decimal) ". ";
    }


    /**
     *
     * =======================================================================
             Blockquotes
     * =======================================================================
     */

    /**
     * Blockquote Markup
     *
            <figure>
                    <blockquote class="blockquote" cite="">
                            <p></p>
                    </blockquote>
                    <figcaption>
                            <cite>
                                    <small><a href=""></a></small>
                            </cite>
                    </figcaption>
            </figure>
     *
     * Extend this object into your markup.
     *
     */

    .blockquote p:last-of-type {
        margin-bottom: -0.825em;
    }

    .blockquote + figcaption {
        display: block;
        font-size: inherit;
        text-align: right;
    }

    .blockquote + figcaption:before {
        content: "-"; /* "-" is your citation flourish */
    }


    /**
     *
     * =======================================================================
             Pull Quotes
     * =======================================================================
     */

    /**
     * Pull Quotes Markup
     *
            <aside class="pull-quote">
                    <blockquote>
                            <p></p>
                    </blockquote>
            </aside>
     *
     * Extend this object into your custom stylesheet.
     *
     */
    .pull-quote {
        position: relative;
        padding: 1em;
    }
    .pull-quote:before,
    .pull-quote:after {
        height: 1em;
        opacity: 0.15;
        position: absolute;
        font-size: 4em;
        color: #dc976e;
    }
    .pull-quote:before {
        content: '“';
        top: 0;
        left: 0;
    }
    .pull-quote:after {
        content: '”';
        bottom: 0;
        right: 0;
    }


    /**
     *
     * =======================================================================
             Figures
     * =======================================================================
     */

    /**
     * Figures Markup
     *
            <figure>
                    <figcaption>
                            <strong>Fig. 4.2 | </strong>Type Anatomy, an excerpt from Mark Boulton's book<cite title="http://designingfortheweb.co.uk/book/part3/part3_chapter11.php">"Designing for the Web"</cite>
                    </figcaption>
            </figure>
     *
     * Extend this object into your markup.
     *
     */


    /**
     *
     * =======================================================================
             Foot Notes
     * =======================================================================
     */

    /**
     * Footnote Markup : Replace 'X' with your unique number for each footnote
     *
            <article>
                    <p><sup><a href="#fn-itemX" id="fn-returnX"></a></sup></p>
                    <footer>
                            <ol class="foot-notes">
                                    <li id="fn-itemX"><a href="#fn-returnX">↩</a></li>
                            </ol>
                    </footer>
            </article>
     *
     * Extend this object into your markup.
     *
     */



    /**
    **Theme Style Fixes **
    **/    
    .logo-text {
        font-size: 2rem;
    }
    .home-cover-callout p {
        font-size: 2rem;
    }
    .navbar-transparent {
        background: transparent;
    }
    .navbar-collapse {
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .sol-training .media-img img {
        width: 100%;
    }
    .sol-training .media-body {
        padding: 16px 30px 10px 26px;
        margin-right: 0;
    }
    .sol-training .media-body h6 {
        font-size: 15px;
        font-weight: 400;
    }
    .closure-nav {
        float: right;
    }
    #footer .footer-closure {
        float: left;
        text-align: left;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

    .sol-training .media-body h6 {
        font-size: 19px;
    }

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}



.carousel-content {
	position:absolute;
	top: 160px;
    text-align: center;
    width: 100%;
}
.carousel-content.heartAgile {
    width: 70%;
    margin-left: 30%;
}
.carousel2{
	color:#ffffff;
}
.register-btn{
	background-color:transparent;
	border:1px solid #ffffff;
}
.register-btn-black{
	background-color:transparent;
	border:1px solid #000000;
}
.register-btn:hover{
	background-color:transparent;
	border:1px solid #ffffff;
}
.register-btn a{
	color:#ffffff;
}
.register-btn-black a{
	color:#000000;	
}
.left.carousel-control, .right.carousel-control{
	top:160px;
}
.carousel-control.right{
	background-image:none;
}
.carousel-control.left{
	background-image:none;
}

.register-btn-black.hoa{
	top: 154px;
    left: 70px;
	background-color:transparent;
	border:1px solid #ffffff;
}
.register-btn-black.hoa a{
	color:#ffffff;	
}

.don-class{
	top: 172px;
    left: 60px;
}

.line{
width: 50%;
    margin: 0px auto;
	}
	.wsa{
	margin-top:22px;
	}
	
.card span.card-title.hoa-date{
	font-size: 15px;
}

.register_three{
	text-align:center;
}

.hoa_reg_footer{
	    padding: 20px 20px 0px 20px;
}
@media (min-width: 992px){
	.col-md-8.Heart-of-agile {
    width: 48.666667%;
}
}

.panel-group {
    margin-bottom: 20px;
    padding: 0px 20px;
}
.carousel {
    position: relative;
    padding: 0px 20px;
}
.carousel-content {
	position:absolute;
	top: 160px;
    text-align: center;
    width: 100%;
}
.carousel-content.heartAgile {
    width: 70%;
    margin-left: 30%;
}
.carousel2{
	color:#ffffff;
}
.register-btn{
	background-color:transparent;
	border:1px solid #ffffff;
}
.register-btn-black{
	background-color:transparent;
	border:1px solid #000000;
}
.register-btn:hover{
	background-color:transparent;
	border:1px solid #ffffff;
}
.register-btn a{
	color:#ffffff;
}
.register-btn-black a{
	color:#000000;	
}
.left.carousel-control, .right.carousel-control{
	top:200px;
}
.carousel-control.right{
	background-image:none;
}
.carousel-control.left{
	background-image:none;
}


.register-btn-black.hoa{
	background-color:transparent;
	border:1px solid #ffffff;
	top: 80%;
    left: 70%;
}

.register-btn-black.hoa a{
	color:#ffffff;	
}

.don-class{
	top: 172px;
    left: 60px;
}
.hoa-date{
	font-size: 17px;
}

.register_three{
	text-align:center;
}

.hoa_reg_footer{
	    padding: 20px 20px 0px 20px;
}

@media (min-width: 992px){
	.col-md-8.Heart-of-agile {
    width: 48.666667%;
}
}


.hoa-class a{
	color:#ffffff;
}

@media only screen and (max-width: 500px){
	.don-class.btn-pos {    
    top: 65%;
    left: 58%;
    width: 76px;
    padding: 0px;
}
.don-class a{
	    font-size: 8px;
}
}

@media only screen and (max-width: 500px) {
.container{
	padding-left:0px;
	padding-right:0px;
}
}

@media only screen and (max-width: 500px) {
.navbar-header{
    margin: 0px 15px;
}
}
@media only screen and (max-width: 500px) {
.navbar-nav {
    margin: 0.5px -15px;
    background: #cacaca;
    opacity: 0.8;
}
}
.carousel-indicators{
	bottom: -15px;
}
.carousel-indicators li{
	border: 1px solid #000000;
}
.carousel-indicators .active{
	color:#000000;
}

.btn-pos{
	position:absolute;
    top: 55%;
    left: 45%;
}
.don-class{
	top: 72%;
    left: 60%;
}

.hoa-class{
	top: 85%;
    left: 58%;
	border: 1px solid #ffffff;
}

@media only screen and (max-width: 500px) {
.btn-pos{
	position:absolute;
    top: 55%;
    left: 32%;
	width: 100px;
    padding: 6px;
}
.hoa-class.btn-pos{
	width: 70px;
    padding: 0px;
	top: 66%;
    left: 16%;
}
.hoa-class.btn-pos a{
	font-size:8px;
}
}
@media only screen and (max-width: 500px){
	.leankan {    
    top: 55%;
    left: 40%;
	width: 70px;
    padding: 0px;
}
.leankan a{
	font-size:8px;
}
}
@media only screen and (max-width: 500px) {
.left.carousel-control, .right.carousel-control {
    top: 60px;
}
}
@media only screen and (max-width: 500px) {
.carousel{
	padding:0px 5px;
}
/*@media only screen and (max-width: 500px) {
.regbtn{
	width: 40px;
	height:10px;*/
}
@media only screen and (max-width: 500px) {
.reg{
	font-size:5px;
}
}
@media (min-width: 992px){
.Heart-of-agile {
    width: 47.666667%;
}
}
.grey-box{
padding: 5em 0;
}
.container.hero-carousel {
    width: 100%;
    padding: 0%;
}
.carousel {
    padding: 0px;
}

/*removing border for events*/
.panel{
	border: 0px solid transparent;
}

p.don-classes {
    line-height: 20px;
    text-indent: 0px;
    padding-top: 31px;
}

p.no-indent {
    text-indent: 0px;
    margin-top: -15px;
}

h3.solution-hspacing {
    margin-top: 30px;
}
.three-reg{
	padding: 35px 0px;
}
.reg-three-new-btn{
	background-color:#ffffff; color:#000000; 
	border-bottom: 1px solid black;
	    padding-left: 25px;
}
.pad-12{
	padding: 12px;
}

.lead-white{

	color:#000000;
}
.city-name{
	padding-top: 10px;
}

.safe{
	background-image:url('http://www.innovationroots.com/image.png');
	background-repeat:no-repeat;
	background-size:auto;
}
@media only screen and (max-width: 500px){
	section.home-cover.banner-container{
	padding: 3em 0em 0em 0em;
}
}