.solution-bg{
    background-image: url('../img/banner/training_background.jpg');
}

.demo-card-square.mdl-card {
  width: 270px;
  height: 360px;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
  background: 50% no-repeat darkgrey;
  /*
  background:  url('../img/cert_sasm_145.png') 50% no-repeat #46B6AC;
  background-repeat: no-repeat;
  */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #ffffff;
    color: #444444;
    padding: 0;
    margin: 0;
}

.solution-tile{
	margin-bottom: 40px;
}

.solution-tile-img{
	margin-left: 17%;
    margin-top: 10%;
}
.solution-tile-space{
	margin-bottom: 19px;
}
.training-tray1{
	background-color: rgb(137, 96, 158);
    padding: 20px 10px 0px 0px;
    border-radius: 10px;
	margin-top: 20px;
	margin-bottom: 30px;
}
.training-tray2{
	background-color: #5f9ea0;
    padding: 20px 10px 0px 0px;
    border-radius: 10px;
	margin-top: 20px;
	
}
.solution-page-subtitle{
	font-size: 23px;
    font-weight: bold;
}
.solution-page-subtitle2{
	font-size: 23px;
    font-weight: bold;
    margin-bottom: 15px;
	margin-top: 50px;
}